.testimonials-three.mt-100
    .container 
        .heading3.text-center What People Are Saying
        .row.list-comment
            .col-4
                .comment-item.p-32.bg-surface.bora-16.hover-box-shadow
                    i.icon-quotes.fs-28
                    .body3.mt-24 "Your personalized approach and care have improved my financial planning. I highly value your services and attention to detail in crafting financial plans."
                    .infor.mt-16
                        .text-button Emily S.
                        .caption2.text-secondary.mt-4 Developper Mangala
            .col-4
                .comment-item.p-32.bg-surface.bora-16.hover-box-shadow
                    i.icon-quotes.fs-28
                    .body3.mt-24 "I'm extremely satisfied with your services! Your meticulous financial planning helped me manage my assets efficiently and achieve my financial goals."
                    .infor.mt-16
                        .text-button Alexander D.
                        .caption2.text-secondary.mt-4 Creator PosiMen 
            .col-4
                .comment-item.p-32.bg-surface.bora-16.hover-box-shadow
                    i.icon-quotes.fs-28
                    .body3.mt-24 "Your services have left me thoroughly impressed! Thanks to your meticulous financial planning, I've efficiently managed my assets and reached my goals."
                    .infor.mt-16
                        .text-button David P.
                        .caption2.text-secondary.mt-4 Designer Avitex
            .col-4
                .comment-item.p-32.bg-surface.bora-16.hover-box-shadow
                    i.icon-quotes.fs-28
                    .body3.mt-24 "I am incredibly pleased with your services! Your meticulous approach to financial planning has been a crucial factor in effectively managing my assets."
                    .infor.mt-16
                        .text-button Peter P.
                        .caption2.text-secondary.mt-4 CEO TechNav
            