.testimonials-four.bg-surface.pt-60.pb-60
    .container 
        .heading3.text-center Client Testimonials
        .row.list-comment
            .col-6
                .item.p-32.bg-white.bora-16.box-shadow.hover-box-shadow
                    .star.flex-item-center.gap-4
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                    .heading7.mt-16 Variety of Styles!
                    .body3.mt-8 "Your personalized approach and care have improved my financial planning. I highly value your services and attention to detail in crafting financial plans."
                    .infor.mt-16.flex-item-center.item-start.gap-16
                        .avatar.flex-center.mt-4
                            img(src="assets/images/member/avatar1.png", alt="").w-40.h-40
                        .desc
                            .text-button Maverick
                            .caption2.text-secondary.mt-4 August 13, 2023
            .col-6
                .item.p-32.bg-white.bora-16.box-shadow.hover-box-shadow
                    .star.flex-item-center.gap-4
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                    .heading7.mt-16 Congratulation!
                    .body3.mt-8 "I'm extremely satisfied with your services! Your meticulous financial planning helped me manage my assets efficiently and achieve my financial goals."
                    .infor.mt-16.flex-item-center.item-start.gap-16
                        .avatar.flex-center.mt-4
                            img(src="assets/images/member/avatar2.png", alt="").w-40.h-40
                        .desc
                            .text-button Mark G.
                            .caption2.text-secondary.mt-4 August 13, 2023
            .col-6
                .item.p-32.bg-white.bora-16.box-shadow.hover-box-shadow
                    .star.flex-item-center.gap-4
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                        i.ph-fill.ph-star.fs-12.text-yellow
                    .heading7.mt-16 Variety of Styles!
                    .body3.mt-8 "Your services have left me thoroughly impressed! Thanks to your meticulous financial planning, I've efficiently managed my assets and reached my goals."
                    .infor.mt-16.flex-item-center.item-start.gap-16
                        .avatar.flex-center.mt-4
                            img(src="assets/images/member/avatar4.png", alt="").w-40.h-40
                        .desc
                            .text-button Howard
                            .caption2.text-secondary.mt-4 August 13, 2023
