.testimonials-block.style-two.mt-100
    .container
        .list-comment.bg-surface.bora-40.pt-80.pb-80.text-center
            .comment-item.row.flex-columns-item-center
                .heading3.col-8 Trusted By Professionals
                .content.mt-40.col-8 "Working with this agency has been a game-changer for our business. Their team is knowledgeable, responsive, and always goes the extra mile."
                .text-button.mt-20.col-8 maverick Nguyen // Ex-CTO, Dropbox
            .comment-item.row.flex-columns-item-center
                .heading3.col-8 Trusted By Professionals
                .content.mt-40.col-8 "I'm extremely satisfied with your services! Your meticulous financial planning helped me manage my assets efficiently and achieve my financial goals."
                .text-button.mt-20.col-8 Luis Garcia // Leading Design, Avitex
            .comment-item.row.flex-columns-item-center
                .heading3.col-8 Trusted By Professionals
                .content.mt-40.col-8 "Your personalized approach and care have improved my financial planning. I highly value your services and attention to detail in crafting financial plans."
                .text-button.mt-20.col-8 Christina Ha // CEO, LeoTech
