.testimonials-three.mt-100
    .container 
        .heading3.text-center What People Are Saying
        .list-comment.row
            .col-12.col-lg-4.col-sm-6.comment-item
                .item.p-32.bg-white.bora-12.box-shadow.hover-box-shadow
                    .body3.text-secondary "Working with this agency has been a game-changer for our business. Their team is knowledgeable, responsive, and always goes the extra mile."
                    .infor.mt-16.flex-item-center.gap-16
                        .avatar
                            img(src="assets/images/member/avatar1.png", alt="").w-60.h-60
                        .desc
                            .text-button Maverick
                            .caption2.text-secondary.mt-4 Chariman, Avitex Inc
            .col-12.col-lg-4.col-sm-6.comment-item
                .item.p-32.bg-white.bora-12.box-shadow.hover-box-shadow
                    .body3.text-secondary "Your personalized approach and care have improved my financial planning. I highly value your services and attention to detail in crafting financial plans."
                    .infor.mt-16.flex-item-center.gap-16
                        .avatar
                            img(src="assets/images/member/avatar3.png", alt="").w-60.h-60
                        .desc
                            .text-button Alexander
                            .caption2.text-secondary.mt-4 Chariman, Avitex Inc
            .col-12.col-lg-4.col-sm-6.comment-item
                .item.p-32.bg-white.bora-12.box-shadow.hover-box-shadow
                    .body3.text-secondary "I'm extremely satisfied with your services! Your meticulous financial planning helped me manage my assets efficiently and achieve my financial goals."
                    .infor.mt-16.flex-item-center.gap-16
                        .avatar
                            img(src="assets/images/member/avatar2.png", alt="").w-60.h-60
                        .desc
                            .text-button De Rossi
                            .caption2.text-secondary.mt-4 Chariman, Avitex Inc
            .col-12.col-lg-4.col-sm-6.comment-item
                .item.p-32.bg-white.bora-12.box-shadow.hover-box-shadow
                    .body3.text-secondary "I highly value and appreciate your services and the attention to detail you provide in crafting financial plans. Thank you for helping shape my financial future!"
                    .infor.mt-16.flex-item-center.gap-16
                        .avatar
                            img(src="assets/images/member/avatar4.png", alt="").w-60.h-60
                        .desc
                            .text-button Benjamin
                            .caption2.text-secondary.mt-4 Chariman, Avitex Inc
