.testimonials-six.pt-100.bg-on-surface 
    .container
        .heading3.text-white.text-center Our Testimonials
        .row
            .col-12.col-md-8 
                .row 
                    .col-12.col-md-7 
                        .comment-item.bora-16
                            i.icon-quotes.fs-60
                            .star.flex-item-center.gap-4.mt-32
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                            .heading7.fw-600.mt-12.text-white "I am extremely satisfied with your exceptional services! Your meticulous financial planning has been instrumental in managing my assets."
                            .infor.mt-16
                                .text-button-small.text-white Alexander M.
                                .caption2.fw-400.text-line.mt-4 Senior Research Manager
                    .col-12.col-md-5
                        img(src="assets/images/member/avatar-testimonials6-1.png", alt="").w-100.h-100
            .col-12.col-md-8 
                .row 
                    .col-12.col-md-7 
                        .comment-item.bora-16
                            i.icon-quotes.fs-60
                            .star.flex-item-center.gap-4.mt-32
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                            .heading7.fw-600.mt-12.text-white "Your services have left me thoroughly impressed! Thanks to your meticulous financial planning, I've efficiently managed my goals."
                            .infor.mt-16
                                .text-button-small.text-white Peter Parker
                                .caption2.fw-400.text-line.mt-4 Senior Research Manager
                    .col-12.col-md-5
                        img(src="assets/images/member/avatar-testimonials6-2.png", alt="").w-100.h-100
            .col-12.col-md-8.touch
                .row 
                    .col-12.col-md-7 
                        .comment-item.bora-16
                            i.icon-quotes.fs-60
                            .star.flex-item-center.gap-4.mt-32
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                                i.ph-fill.ph-star.text-orange.fs-24
                            .heading7.fw-600.mt-12.text-white "Thrilled with your services! Your meticulous financial planning led me to efficiently manage my assets and achieve my financial goals."
                            .infor.mt-16
                                .text-button-small.text-white Christian G.
                                .caption2.fw-400.text-line.mt-4 Senior Research Manager
                    .col-12.col-md-5
                        img(src="assets/images/member/avatar-testimonials6-3.png", alt="").w-100.h-100
        