.blog-item .blog-item-main {
  cursor: pointer;
  border-radius: 16px;
  display: block;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid var(--line);
  box-shadow: 0px 10px 25px 0px rgba(54, 95, 104, 0.15);
}
.blog-item .blog-item-main .bg-img img {
  transition: all ease 0.5s;
  object-fit: cover;
}
.blog-item .blog-item-main .heading6 {
  transition: all ease 0.5s;
}
.blog-item .blog-item-main:hover .bg-img img {
  transform: scale(1.05);
  transition: all ease 0.5s;
}
.blog-item .blog-item-main:hover .heading6 {
  color: var(--blue);
  transition: all ease 0.5s;
}

@media (max-width: 1169.99px) and (min-width: 576px) {
  .col-lg-show {
    display: block;
  }
}