include ../../mixins/button.pug

.slider-block.style-six.bg-on-surface
    .slider-main 
        .slider-item 
            .bg-img 
                img(src="assets/images/slider/slider6.png", alt="").w-100.h-100.animate__animated.animate__fadeIn.animate__delay-0-2s
            .container 
                .text-content.flex-columns-between 
                    .heading2.text-white.animate__animated.animate__fadeInUp.animate__delay-0-2s Discover the Power of <br>Blockchain with Finatex
                    .body2.mt-12.text-white.animate__animated.animate__fadeInUp.animate__delay-0-5s Exploring the Transformative Power of Blockchain: Shaping Industries, <br>Empowering Change, and Paving the Path to a Sustainable Tomorrow.
                    .button-block.mt-40.animate__animated.animate__fadeInUp.animate__delay-0-8s
                        +button({type:'link', href:'service-one.html', classname:'display-inline-block bg-orange border-transparent hover-bg-white hover-text-orange text-white text-button pl-36 pr-36 pt-14 pb-14 bora-100', text:'Get Started'})
