// Section Benefit(Case Studies) Home1: Start
.benefit-block.style-one {
    .list-benefit {
        .row {
            margin-left: 0;
            margin-right: 0;

            >div {
                padding-right: 0;
                padding-left: 0;

                .benefit-item {
                    position: relative;

                    .text {
                        position: absolute;
                        bottom: 60px;
                        left: 60px;
                        right: 60px;
                        transition: all ease 0.5s;

                        .heading5 {
                            position: relative;
                            display: inline-block;
                            margin-left: 0;
                            transition: all ease 0.3s;

                            a {
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 0;
                                    height: 2px;
                                    bottom: 0;
                                    left: 0;
                                    background-color: #fff;
                                    transition: all ease 0.4s;
                                }
                            }

                            &:hover {
                                a {
                                    &::before {
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        a {
                            &:last-child {
                                i {
                                    margin-left: 0;
                                    transition: all ease 0.3s;
                                }

                                &:hover {
                                    i {
                                        margin-left: 6px;
                                    }
                                }
                            }
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 0;
                        background-color: var(--blue);
                        opacity: 0.6;
                        transition: all ease 0.5s;
                    }

                    &:hover {
                        &::before {
                            height: 100%;
                        }

                        .text {
                            bottom: 140px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 575.99px) {
        i.ph-caret-double-right {
            margin-top: 0 !important;
        }
    }
}
// Section Benefit(Case Studies) Home1: End
