.benefit-block.style-one.mt-100 
    .container 
        .heading.text-center
            .heading3 Case Studies
            .right.flex-columns-center.gap-8.mt-12
                .body3 Exploring In-Depth and Inspiring Case Studies of Success Stories
                a(href="service-one.html").flex-item-center.gap-8.hover-text-blue
                    .text-button View Our Services
                    i.ph-bold.ph-caret-double-right.fs-12.mt-4
    .list-benefit.mt-40
        .row 
            .col-12.col-xl-3.col-sm-6
                .benefit-item 
                    .bg-img 
                        img(src="assets/images/component/benefit1.png", alt="").w-100.h-100.display-block
                    .text.flex-columns-between.gap-12
                        .heading5
                            a(href="case-studies-detail.html").text-white Trusted Advisor
                        .body2.text-white We are committed to providing reliable and high-quality financial advisory services.
                        a(href="service-detail.html").flex-item-center.gap-4
                            .text-button.text-white Read More 
                            i.ph-bold.ph-caret-double-right.fs-12.mt-4.text-white
            .col-12.col-xl-3.col-sm-6
                .benefit-item 
                    .bg-img 
                        img(src="assets/images/component/benefit2.png", alt="").w-100.h-100.display-block
                    .text.flex-columns-between.gap-12
                        .heading5
                            a(href="case-studies-detail.html").text-white Team Augmentation
                        .body2.text-white With an experienced and skilled team, we bring the necessary expertise to enhance work productivity.
                        a(href="service-detail.html").flex-item-center.gap-4
                            .text-button.text-white Read More 
                            i.ph-bold.ph-caret-double-right.fs-12.mt-4.text-white
            .col-12.col-xl-3.col-sm-6
                .benefit-item 
                    .bg-img 
                        img(src="assets/images/component/benefit3.png", alt="").w-100.h-100.display-block
                    .text.flex-columns-between.gap-12
                        .heading5
                            a(href="case-studies-detail.html").text-white Innovation
                        .body2.text-white We constantly seek advanced solutions to address challenges and deliver the highest value to our customers.
                        a(href="service-detail.html").flex-item-center.gap-4
                            .text-button.text-white Read More 
                            i.ph-bold.ph-caret-double-right.fs-12.mt-4.text-white
            .col-12.col-xl-3.col-sm-6
                .benefit-item 
                    .bg-img 
                        img(src="assets/images/component/benefit4.png", alt="").w-100.h-100.display-block
                    .text.flex-columns-between.gap-12
                        .heading5
                            a(href="case-studies-detail.html").text-white Experience
                        .body2.text-white With over 21 years of serving industrial customers and over 3000 projects, we have the experience to solve almost.
                        a(href="service-detail.html").flex-item-center.gap-4
                            .text-button.text-white Read More 
                            i.ph-bold.ph-caret-double-right.fs-12.mt-4.text-white

