include ../../mixins/serviceItem.pug

.list-benefit-three.mt-60
    .container
        .row.row-gap-60
            .col-12.col-xl-3.col-lg-6.col-md-6.col-sm-6
                +serviceItem({classname:'pl-32 pr-32 box-shadow-none', href:'#!', icon:'icon-hand-touch icon-gradient fs-42', title:'Convenience', desc:'Experience the convenience of banking with easy access to your accounts anytime, anywhere.', number: ' '})
            .col-12.col-xl-3.col-lg-6.col-md-6.col-sm-6
                +serviceItem({classname:'pl-32 pr-32 box-shadow-none', href:'#!', icon:'icon-user-lock icon-gradient fs-42', title:'24/7 account access', desc:'Rest assured with our robust security measures to protect your transactions and sensitive.', number: ' '})
            .col-12.col-xl-3.col-lg-6.col-md-6.col-sm-6
                +serviceItem({classname:'pl-32 pr-32 box-shadow-none', href:'#!', icon:'icon-coin-bag icon-gradient fs-42', title:' safe transactions', desc:'Stay in control of your finances with effortless tracking and monitoring of your transactions.', number: ' '})
            .col-12.col-xl-3.col-lg-6.col-md-6.col-sm-6
                +serviceItem({classname:'pl-32 pr-32 box-shadow-none', href:'#!', icon:'icon-chart-blue icon-gradient fs-42', title:'Easily track finances', desc:'Enjoy round-the-clock access to your accounts for tracking seamless financial management.', number: ' '})
