.case-studies-block.style-two.style-three.mt-100
    .container 
        .heading.flex-between.pb-40
            .heading3 Case Study
            .list-nav.flex-center.gap-8
                .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"investing"}) Investing
                .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"fintech"}).active Fintech
                .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"crypto"}) Crypto
                .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"blockchain"}) Blockchain
                .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"planning"}) Planning
        .row
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item4.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Retirement Planning Strategies
                        .body2.text-secondary.mt-8 Made Financial Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item5.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Tax Optimization Solutions
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item6.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Business Succession Planning
                        .body2.text-secondary.mt-8 Account management tools
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item3.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Education Funding Strategies
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item2.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Portfolio Management
                        .body2.text-secondary.mt-8 Account management tools

        .row
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item1.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Retirement Planning Strategies
                        .body2.text-secondary.mt-8 Made Financial Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item7.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Education Funding Strategies
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item8.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Business Succession Planning
                        .body2.text-secondary.mt-8 Account management tools
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item9.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Tax Optimization Solutions
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item10.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Portfolio Management
                        .body2.text-secondary.mt-8 Account management tools
        
        .row
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item11.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Retirement Planning Strategies
                        .body2.text-secondary.mt-8 Made Financial Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item12.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Tax Optimization Solutions
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item7.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Portfolio Management
                        .body2.text-secondary.mt-8 Account management tools
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item9.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Education Funding Strategies
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item4.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Business Succession Planning
                        .body2.text-secondary.mt-8 Account management tools
            
        .row
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item8.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Retirement Planning Strategies
                        .body2.text-secondary.mt-8 Made Financial Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item10.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Education Funding Strategies
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item6.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Business Succession Planning
                        .body2.text-secondary.mt-8 Account management tools
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item2.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Tax Optimization Solutions
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item5.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Portfolio Management
                        .body2.text-secondary.mt-8 Account management tools
            
        .row
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item1.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Retirement Planning Strategies
                        .body2.text-secondary.mt-8 Made Financial Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item4.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Tax Optimization Solutions
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item10.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Portfolio Management
                        .body2.text-secondary.mt-8 Account management tools
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item9.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Education Funding Strategies
                        .body2.text-secondary.mt-8 Retirement Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                .item-main 
                    .bg-img.overflow-hidden
                        img(src="assets/images/blog/item8.png", alt="").w-100.h-100.display-block
                        a(href="case-studies-detail.html").flex-columns-center.pt-32.pb-32.pl-20.pr-20.bg-white.bora-50.text-center
                            .text-button-small.text-gradient Discovery
                            i.ph-bold.ph-arrow-up-right.text-gradient
                    .infor.bg-white.bora-8.pt-24
                        .heading6 Business Succession Planning
                        .body2.text-secondary.mt-8 Account management tools
            