.features-three.bg-surface.mt-100.pt-60.pb-60
    .container 
        .row.flex-between
            .col-12.col-xl-6.pr-80
                .heading 
                    .heading3 Features 
                    .body2.text-secondary.mt-20 Online banking allows you to manage your finances from anywhere, anytime. You can access your bank account, check your balance, view transactions, and transfer money without having to visit a physical bank.
                .list-nav-item.mt-40
                    .nav-item.heading7.pt-24.pb-24.pl-20&attributes({"data-name":"bill-payment"}) Bill payment and transfer options
                    .nav-item.heading7.pt-24.pb-24.pl-20&attributes({"data-name":"account-balance"}).active Account balance and transaction history
                    .nav-item.heading7.pt-24.pb-24.pl-20&attributes({"data-name":"mobile-banking"}) Mobile banking and alerts
                    .nav-item.heading7.pt-24.pb-24.pl-20&attributes({"data-name":"account-management"}) Account management tools
            div(class="col-12 col-xl-5 content-filter" data-name="account-balance")
                .bg-img 
                    img(src="assets/images/component/graphic-features3.png", alt="")
                .infor.bg-white.pt-24.pb-24.bora-12 
                    .infor-user.pl-32.pr-32.pb-24
                        .heading.flex-item-center.gap-16 
                            img(src="assets/images/member/avatar5.png", alt="").w-60.h-60
                            .desc
                                .text-button-small.fw-600.text-gradient UI UX Designer
                                .name.flex-item-center.gap-8.mt-4
                                    .heading7 Maverick Nguyen
                                    i.ph-fill.ph-lightning.text-white.bg-gradient.fs-12.p-4.bora-50
                        .mt-32.flex-between 
                            .heading7.text-secondary Account balance
                            .text-button $110,000
                    .line-x
                    .pt-24.history.pl-32.pr-32
                        .desc
                            .text-button-small.fw-600.text-gradient Transaction History
                            .name.flex-item-center.gap-8.mt-4
                                .heading7 Maverick Nguyen
                                i.ph-fill.ph-lightning.text-white.bg-gradient.fs-12.p-4.bora-50
                            .mt-16.flex-between 
                                .text-button $400,000
                                .text-button - $110,000
            div(class="col-12 col-xl-5 content-filter hide" data-name="bill-payment")
                .bg-img 
                    img(src="assets/images/component/graphic-features3.png", alt="")
                .infor.overflow-hidden.bora-20
                    img(src="assets/images/blog/item9.png", alt="").w-100.bora-20.hover-scale.display-block
                    
            div(class="col-12 col-xl-5 content-filter hide" data-name="mobile-banking")
                .bg-img 
                    img(src="assets/images/component/graphic-features3.png", alt="")
                .infor.overflow-hidden.bora-20
                    img(src="assets/images/blog/item10.png", alt="").w-100.bora-20.hover-scale.display-block
                    
            div(class="col-12 col-xl-5 content-filter hide" data-name="account-management")
                .bg-img 
                    img(src="assets/images/component/graphic-features3.png", alt="")
                .infor.overflow-hidden.bora-20
                    img(src="assets/images/blog/item11.png", alt="").w-100.bora-20.hover-scale.display-block
                    
            