.partner-five-col.style-one.mt-100.bg-blue
    .list.pt-32.pb-32
        .bg-img.flex-center
            img(src="assets/images/partner/Logo.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-1.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-2.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-3.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-4.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-5.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-1.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-2.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-3.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-4.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/Logo-5.png", alt="").w-100
        