.partner-five-col.style-one.mt-60.pb-60.bg-white
    .list.pt-32.pb-32
        .bg-img.flex-center
            img(src="assets/images/partner/lh.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/shang.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/pana.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/masa.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/van.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/pana.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/shang.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/lh.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/masa.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/van.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/lh.png", alt="").w-100
        .bg-img.flex-center
            img(src="assets/images/partner/shang.png", alt="").w-100

