.case-studies-block.style-one.mt-100.pb-100
    .container 
        .list-nav.flex-center.gap-8
            .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"all"}) All
            .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"investing"}) Investing
            .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"fintech"}).active Fintech
            .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"crypto"}) Crypto
            .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"blockchain"}) Blockchain
            .nav-item.text-button-small.text-secondary.pt-8.pb-8.pl-20.pr-20.pointer&attributes({"data-name":"planning"}) Planning
        .row.mt-40 
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item1.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item2.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item5.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item6.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item3.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter" data-name="fintech")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item4.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions

            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item7.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item6.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item12.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item8.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item10.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="investing")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item9.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions

            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item11.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item2.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item9.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item10.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item8.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="crypto")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item3.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions

            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item10.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item7.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item5.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item6.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item12.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="blockchain")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item4.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions

            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item10.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item12.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item11.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item2.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item9.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="planning")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item6.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions

            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item11.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item12.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item10.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item9.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item7.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item8.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item1.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item2.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item5.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item6.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Business Succession<br/>Planning
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item3.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            div(class="col-12 col-xl-4 col-sm-6 item-filter hide" data-name="all")
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item4.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions