.how-we-did.mt-100 
    .container 
        .row.row-gap-32
            .col-12.col-lg-6.bg-video
                .bg-img.h-100.w-100
                    img(src="assets/images/blog/item1.png", alt="").w-100.display-block.bora-20
                    i.ph-fill.ph-play.fs-28.bg-white.bora-50
            .col-12.col-lg-6.flex-center
                .desc.ml-40.pr-12
                    .heading3 How We Did It
                    .body3.text-secondary.mt-40 We began by conducting extensive market research to identify the key pain points of existing e-commerce platforms. Based on our findings, we developed a custom solution that leveraged the latest technology and design trends. Throughout the development process, we worked closely with our clients to ensure that their unique needs were met. 
                    .list-feature.row-gap-12.flex-column.mt-24
                        .item.flex-item-center.gap-12 
                            i.ph-fill.ph-check-circle.fs-20.text-blue
                            .text-button Identification of monthly income
                        .item.flex-item-center.gap-12 
                            i.ph-fill.ph-check-circle.fs-20.text-blue
                            .text-button Creation of savings and investment plan
                        .item.flex-item-center.gap-12 
                            i.ph-fill.ph-check-circle.fs-20.text-blue
                            .text-button Management and calculation of monthly expenses

