// Section Benefit (Form Request) Home2: Start
.form-cta-block.benefit-two {
    .bg-img {
        img {
            position: absolute;
        }
    }

    .container>.row>div:last-child .form-block button {
        border: none;

        &:hover {
            background-color: var(--on-surface);
            color: var(--white);
        }
    }

    @media (max-width: 991.99px) {
        height: 720px;
    }

    @media (max-width: 767.99px) {
        height: 560px;
    }

    @media (max-width: 575.99px) {
        height: 640px;
    }
}

// Section Benefit (Form Request) Home2: End