/*
CTA Home3: Start
*/
.cta-three {

    .container,
    .row {
        position: relative;
        height: 100%;
    }

    .button-block {
        padding-bottom: 216px;
        z-index: 5;
    }

    .bg-img {
        position: absolute;
        bottom: 0;

        img {
            display: block;
        }
    }

    @media (max-width: 575.99px) {
        .pt-80 {
            padding-top: 40px;
        }

        .button-block {
            padding-bottom: 140px;
        }
    }

    @media (max-width: 399.99px) {
        .button-block {
            padding-bottom: 120px;
        }
    }
}
/*
CTA Home3: End
*/
