.service-block.style-six.pt-100.bg-on-surface
    .container
        .row.flex-columns-center
            .heading3.text-white Our services
            .body3.text-line.text-center.mt-24.col-12.col-lg-6 This is  simply dummy text printing and typesetting industry been industry's. This is  simply dummy text been industry. 
                a(href="service-one.html").text-underline.text-surface.hover-text-orange View case
            .col-12.list-service.row
                .col-12.col-xl-4.col-lg-6.col-md-6.col-sm-6
                    a(href="service-detail.html").main-item.bora-16 
                        i.icon-pc-code
                        .heading7.text-white.hover-text-orange Blockchain Development
                        .body3.text-placehover.mt-12 We offer comprehensive blockchain development services to transform businesses with this powerful technology.
                .col-12.col-xl-4.col-lg-6.col-md-6.col-sm-6
                    a(href="service-detail.html").main-item.bora-16 
                        i.icon-code
                        .heading7.text-white.hover-text-orange Smart Development
                        .body3.text-placehover.mt-12 Our experts specialize in creating smart contracts that automate processes and enable decentralized applications.
                .col-12.col-xl-4.col-lg-6.col-md-6.col-sm-6
                    a(href="service-detail.html").main-item.bora-16 
                        i.icon-lamp-gear
                        .heading7.text-white.hover-text-orange Blockchain Integration
                        .body3.text-placehover.mt-12 By seamlessly integrating blockchain into your operations, you can enhance data security, improve efficiency.
                .col-12.col-xl-4.col-lg-6.col-md-6.col-sm-6
                    a(href="service-detail.html").main-item.bora-16 
                        i.icon-text-pen
                        .heading7.text-white.hover-text-orange Blockchain Consulting
                        .body3.text-placehover.mt-12 Our experienced consultants offer strategic guidance and insights to navigate the complex blockchain landscape with confidence.
                .col-12.col-xl-4.col-lg-6.col-md-6.col-sm-6
                    a(href="service-detail.html").main-item.bora-16 
                        i.icon-chart
                        .heading7.text-white.hover-text-orange ICO/STO Development
                        .body3.text-placehover.mt-12 We assist businesses in launching successful Initial Coin Offerings (ICOs) and Security Token Offerings (STOs).
                .col-12.col-xl-4.col-lg-6.col-md-6.col-sm-6
                    a(href="service-detail.html").main-item.bora-16 
                        i.icon-vali
                        .heading7.text-white.hover-text-orange Wallet Development
                        .body3.text-placehover.mt-12 We develop secure and user-friendly cryptocurrency wallets that enable seamless storage and management of digital assets.
                
