include ../../mixins/serviceItem.pug

.service-block.bg-white
    .container 
        .list-service.row.mt-32.row-gap-32
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter" data-name="financial planning")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-cryptocurrency-trading.html', icon:'icon-coin-chair icon-on-surface fs-60', title:'Retirement Planning', desc:'Secure your future with personalized retirement strategies and maximize your savings for a comfortable retirement.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter" data-name="financial planning")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-portfolio-management.html', icon:'icon-hand-tick icon-on-surface fs-60', title:'Financial Planning', desc:'Take control of your finances with customized plans that help you achieve your short and long-term goals.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter" data-name="financial planning")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-hand-house icon-on-surface fs-60', title:'Estate Planning', desc:'Safeguard your assets and ensure your loved ones are taken care of with strategic estate planning solutions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter" data-name="financial planning")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-hand-chart icon-on-surface fs-60', title:'Investment Advice', desc:'Grow your wealth with expert investment management services tailored to your risk tolerance and financial objectives.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter" data-name="financial planning")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-gear-warning icon-on-surface fs-60', title:'Risk Management', desc:'Mitigate financial risks and protect your investments with effective risk management strategies.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter" data-name="financial planning")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-research-analysis.html', icon:'icon-text-search icon-on-surface fs-60', title:'Research Analysis', desc:'Stay ahead of market trends and make data-driven decisions with our comprehensive research and analysis.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter" data-name="financial planning")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-coin-collect icon-on-surface fs-60', title:'Investment Advice', desc: 'Receive professional investment advice to navigate the complex financial markets and make smart investment choices.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter" data-name="financial planning")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-education-resources.html', icon:'icon-education icon-on-surface fs-60', title:'Education and Resourcess', desc:'Expand your financial knowledge with educational resources and tools to make informed decisions.', number:' ', read:true})

            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="cryptocurrency financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-cryptocurrency-trading.html', icon:'icon-education icon-on-surface fs-60', title:'Education and Resourcess', desc:'Expand your financial knowledge with educational resources and tools to make informed decisions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="cryptocurrency financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-portfolio-management.html', icon:'icon-coin-chair icon-on-surface fs-60', title:'Retirement Planning', desc:'Secure your future with personalized retirement strategies and maximize your savings for a comfortable retirement.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="cryptocurrency financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-hand-chart icon-on-surface fs-60', title:'Investment Management', desc:'Grow your wealth with expert investment management services tailored to your risk tolerance and financial objectives.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="cryptocurrency financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-hand-house icon-on-surface fs-60', title:'Estate Planning', desc:'Safeguard your assets and ensure your loved ones are taken care of with strategic estate planning solutions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="cryptocurrency financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-text-search icon-on-surface fs-60', title:'Research Analysis', desc:'Stay ahead of market trends and make data-driven decisions with our comprehensive research and analysis.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="cryptocurrency financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-research-analysis.html', icon:'icon-gear-warning icon-on-surface fs-60', title:'Risk Management', desc:'Mitigate financial risks and protect your investments with effective risk management strategies.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="cryptocurrency financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-coin-collect icon-on-surface fs-60', title:'Investment Advice', desc:'Receive professional investment advice to navigate the complex financial markets and make smart investment choices.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="cryptocurrency financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-education-resources.html', icon:'icon-hand-tick icon-on-surface fs-60', title:'Financial Planning', desc:'Take control of your finances with customized plans that help you achieve your short and long-term goals.', number:' ', read:true})

            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="payment solution")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-cryptocurrency-trading.html', icon:'icon-hand-tick icon-on-surface fs-60', title:'Financial Planning', desc:'Take control of your finances with customized plans that help you achieve your short and long-term goals.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="payment solution")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-portfolio-management.html', icon:'icon-hand-house icon-on-surface fs-60', title:'Estate Planning', desc:'Safeguard your assets and ensure your loved ones are taken care of with strategic estate planning solutions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="payment solution")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-coin-chair icon-on-surface fs-60', title:'Retirement Planning', desc:'Secure your future with personalized retirement strategies and maximize your savings for a comfortable retirement.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="payment solution")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-gear-warning icon-on-surface fs-60', title:'Risk Management', desc:'Mitigate financial risks and protect your investments with effective risk management strategies.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="payment solution")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-text-search icon-on-surface fs-60', title:'Research Analysis', desc:'Stay ahead of market trends and make data-driven decisions with our comprehensive research and analysis.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="payment solution")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-research-analysis.html', icon:'icon-education icon-on-surface fs-60', title:'Education and Resourcess', desc:'Expand your financial knowledge with educational resources and tools to make informed decisions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="payment solution")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-hand-chart icon-on-surface fs-60', title:'Investment Management', desc:'Grow your wealth with expert investment management services tailored to your risk tolerance and financial objectives.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="payment solution")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-education-resources.html', icon:'icon-coin-collect icon-on-surface fs-60', title:'Investment Advice', desc:'Receive professional investment advice to navigate the complex financial markets and make smart investment choices.', number:' ', read:true})

            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="blockchain")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-cryptocurrency-trading.html', icon:'icon-hand-chart icon-on-surface fs-60', title:'Investment Management', desc:'Grow your wealth with expert investment management services tailored to your risk tolerance and financial objectives.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="blockchain")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-portfolio-management.html', icon:'icon-hand-house icon-on-surface fs-60', title:'Estate Planning', desc:'Safeguard your assets and ensure your loved ones are taken care of with strategic estate planning solutions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="blockchain")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-gear-warning icon-on-surface fs-60', title:'Risk Management', desc:'Mitigate financial risks and protect your investments with effective risk management strategies.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="blockchain")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-coin-chair icon-on-surface fs-60', title:'Retirement Planning', desc:'Secure your future with personalized retirement strategies and maximize your savings for a comfortable retirement.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="blockchain")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-education icon-on-surface fs-60', title:'Education and Resourcess', desc:'Expand your financial knowledge with educational resources and tools to make informed decisions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="blockchain")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-research-analysis.html', icon:'icon-hand-tick icon-on-surface fs-60', title:'Financial Planning', desc:'Take control of your finances with customized plans that help you achieve your short and long-term goals.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="blockchain")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-coin-collect icon-on-surface fs-60', title:'Investment Advice', desc:'Receive professional investment advice to navigate the complex financial markets and make smart investment choices.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="blockchain")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-education-resources.html', icon:'icon-text-search icon-on-surface fs-60', title:'Research Analysis', desc:'Stay ahead of market trends and make data-driven decisions with our comprehensive research and analysis.', number:' ', read:true})

            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="online banking")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-cryptocurrency-trading.html', icon:'icon-text-search icon-on-surface fs-60', title:'Research Analysis', desc:'Stay ahead of market trends and make data-driven decisions with our comprehensive research and analysis.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="online banking")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-portfolio-management.html', icon:'icon-gear-warning icon-on-surface fs-60', title:'Risk Management', desc:'Mitigate financial risks and protect your investments with effective risk management strategies.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="online banking")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-education icon-on-surface fs-60', title:'Education and Resourcess', desc:'Expand your financial knowledge with educational resources and tools to make informed decisions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="online banking")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-coin-chair icon-on-surface fs-60', title:'Retirement Planning', desc:'Secure your future with personalized retirement strategies and maximize your savings for a comfortable retirement.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="online banking")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-hand-tick icon-on-surface fs-60', title:'Financial Planning', desc:'Take control of your finances with customized plans that help you achieve your short and long-term goals.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="online banking")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-research-analysis.html', icon:'icon-coin-collect icon-on-surface fs-60', title:'Investment Advice', desc:'Receive professional investment advice to navigate the complex financial markets and make smart investment choices.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="online banking")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-hand-chart icon-on-surface fs-60', title:'Investment Management', desc:'Grow your wealth with expert investment management services tailored to your risk tolerance and financial objectives.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="online banking")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-education-resources.html', icon:'icon-hand-house icon-on-surface fs-60', title:'Estate Planning', desc:'Safeguard your assets and ensure your loved ones are taken care of with strategic estate planning solutions.', number:' ', read:true})

            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="personal financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-cryptocurrency-trading.html', icon:'icon-hand-house icon-on-surface fs-60', title:'Estate Planning', desc:'Safeguard your assets and ensure your loved ones are taken care of with strategic estate planning solutions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="personal financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-portfolio-management.html', icon:'icon-coin-collect icon-on-surface fs-60', title:'Investment Advice', desc:'Receive professional investment advice to navigate the complex financial markets and make smart investment choices.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="personal financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-education icon-on-surface fs-60', title:'Education and Resourcess', desc:'Expand your financial knowledge with educational resources and tools to make informed decisions.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="personal financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-hand-chart icon-on-surface fs-60', title:'Investment Management', desc:'Grow your wealth with expert investment management services tailored to your risk tolerance and financial objectives.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="personal financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-detail.html', icon:'icon-gear-warning icon-on-surface fs-60', title:'Risk Management', desc:'Mitigate financial risks and protect your investments with effective risk management strategies.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="personal financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-research-analysis.html', icon:'icon-coin-chair icon-on-surface fs-60', title:'Retirement Planning', desc:'Secure your future with personalized retirement strategies and maximize your savings for a comfortable retirement.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="personal financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-investment-advice.html', icon:'icon-hand-tick icon-on-surface fs-60', title:'Financial Planning', desc:'Take control of your finances with customized plans that help you achieve your short and long-term goals.', number:' ', read:true})
            div(class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 item-filter hide" data-name="personal financial")
                +serviceItem({classname:'bora-12 p-32 bg-white border-line-1px', href:'service-education-resources.html', icon:'icon-text-search icon-on-surface fs-60', title:'Research Analysis', desc:'Stay ahead of market trends and make data-driven decisions with our comprehensive research and analysis.', number:' ', read:true})

            
