include ../../mixins/serviceItem.pug

.service-block.mt-100.pt-100.pb-100.bg-surface
    .container 
        .heading-block.text-center
            .heading3 Our Services
            .body3.text-secondary.mt-12 Customized financial services designed to meet your unique needs and drive your financial success
        .list-service.row.mt-32.row-gap-24
            .col-12.col-xl-3.col-lg-6.col-md-6.col-sm-6
                +serviceItem({classname:'bora-8 pt-32 pb-32 pl-28 pr-28 bg-white', href:'service-cryptocurrency-trading.html', icon:'icon-coin-hand text-blue fs-42', title:'Budget planning', desc:'Experience the convenience of banking with easy access to your accounts anytime, anywhere.', explore:true})
            .col-12.col-xl-3.col-lg-6.col-md-6.col-sm-6
                +serviceItem({classname:'bora-8 pt-32 pb-32 pl-28 pr-28 bg-white', href:'service-investment-advice.html', icon:'icon-coin-pig text-blue fs-42', title:'Savings advice', desc:'Confidently trust our savings advice for secure transactions and a prosperous future.', explore:true})
            .col-12.col-xl-3.col-lg-6.col-md-6.col-sm-6
                +serviceItem({classname:'bora-8 pt-32 pb-32 pl-28 pr-28 bg-white', href:'service-portfolio-management.html', icon:'icon-coin-virus text-blue fs-42', title:'Finance personal', desc:'Rest assured with our robust security measures to protect your transactions and sensitive.', explore:true})
            .col-12.col-xl-3.col-lg-6.col-md-6.col-sm-6
                +serviceItem({classname:'bora-8 pt-32 pb-32 pl-28 pr-28 bg-white', href:'service-research-analysis.html', icon:'icon-hand-protect text-blue fs-42', title:'Insurance advice', desc:'Stay in control of your finances with effortless tracking and monitoring of your transactions.', explore:true})
    