.testimonials-block {
    &.style-two {
        .list-comment {
            .comment-item {
                .content {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 38px;
                    text-transform: capitalize;


                }
            }
        }

        @media (max-width: 767.99px) {
            .list-comment {
                padding-top: 32px;
                padding-bottom: 32px;

                .comment-item {

                    .heading3,
                    .content {
                        flex: 0 0 85%;
                        max-width: 85%;
                    }

                    .content {
                        font-size: 20px;
                        line-height: 32px;
                    }
                }
            }
        }

        .slick-initialized .slick-slide {
            display: flex;
        }

        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            gap: 16px;

            li {
                position: relative;
                border: none;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                button {
                    display: none;
                }

                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: transparent;
                    border: 1px solid var(--secondary);
                    transition: 0.5s;
                }

                &.slick-active {
                    border: 1px solid var(--on-surface);
                    background-color: #fff;

                    &::after {
                        background-color: var(--on-surface);
                        border: 1px solid var(--on-surface);
                    }
                }
            }
        }
    }
}