/*
Footer: Start
*/
#footer {
  /*
  Change backgrond color Home2: Start
  */
  /*
  Change backgrond color Home2: End
  */
  /*
  Change backgrond color, change color icon call, change background color button Home3: Start
  */
  /*
  Change backgrond color, change color icon call, change background color button Home3: End
  */
  /*
  Change backgrond color, change color icon call, change background color button Home4: Start
  */
  /*
  Change backgrond color, change color icon call, change background color button Home4: End
  */
  /*
  Change backgrond color Home5: Start
  */
  /*
  Change backgrond color Home5: End
  */
  /*
  Change backgrond color, change color icon call, change background color button Home6: Start
  */
  /*
  Change backgrond color, change color icon call, change background color button Home6: End
  */
}
#footer .footer-block .row {
  align-items: flex-start;
}
#footer .footer-block .row .footer-logo {
  width: 145px;
}
#footer .footer-block .row .list-social .item {
  width: 40px;
  height: 40px;
}
#footer .footer-block .row .list-social .item i {
  font-size: 14px;
  margin-left: 2px;
}
#footer .footer-block .row .company-contact .send-block {
  height: 46px;
}
#footer .footer-block .row .company-contact .send-block input {
  height: 100%;
  width: calc(100% - 46px);
  padding: 0 12px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 8px 0 0 8px;
}
#footer .footer-block .row .company-contact .send-block input:focus {
  border: 1px solid var(--blue);
}
#footer .footer-block .row .company-contact .send-block button {
  height: 100%;
  width: 46px;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--blue);
  border-radius: 0 8px 8px 0;
}
#footer .footer-block .row .company-contact .send-block button:hover {
  background-color: #4d67fa;
}
#footer .style-two .footer-block {
  background-color: #173363;
}
#footer .style-three .footer-block {
  background-color: #130E38;
}
#footer .style-three .footer-block .company-contact svg path:nth-child(2),
#footer .style-three .footer-block .company-contact svg path:nth-child(3) {
  fill: var(--gradient) !important;
}
#footer .style-three .footer-block .company-contact svg path:nth-child(4) {
  fill: var(--white) !important;
}
#footer .style-three .footer-block .company-contact .send-block button {
  background-color: var(--gradient);
}
#footer .style-three .footer-block .company-contact .send-block button:hover {
  background-color: rgb(50, 52, 201);
}
#footer .style-four .footer-block {
  background-color: var(--deep-purple);
}
#footer .style-four .footer-block .company-contact svg path:nth-child(2),
#footer .style-four .footer-block .company-contact svg path:nth-child(3) {
  fill: var(--success) !important;
}
#footer .style-four .footer-block .company-contact svg path:nth-child(4) {
  fill: var(--white) !important;
}
#footer .style-four .footer-block .company-contact .send-block button {
  background-color: var(--success);
}
#footer .style-four .footer-block .company-contact .send-block button:hover {
  background-color: rgb(52, 197, 83);
}
#footer .style-five .footer-block {
  background-color: var(--on-surface);
}
#footer .style-six .footer-block {
  background-color: var(--on-surface);
}
#footer .style-six .footer-block .company-contact svg path:nth-child(2),
#footer .style-six .footer-block .company-contact svg path:nth-child(3) {
  fill: var(--orange) !important;
}
#footer .style-six .footer-block .company-contact svg path:nth-child(4) {
  fill: var(--white) !important;
}
#footer .style-six .footer-block .company-contact .send-block button {
  background-color: var(--orange);
}
#footer .style-six .footer-block .company-contact .send-block button:hover {
  background-color: rgb(255, 94, 0);
}