.top-nav.style-one.bg-dark
    .container.flex-between.h-44
        .left-block.flex-item-center
            .location.flex-item-center
                i.ph-light.ph-map-pin.text-white.fs-20
                span.ml-8.caption1.text-white 160 Broadway 15th floor, New York
            .mail.ml-28.flex-item-center
                i.ph-light.ph-envelope.text-white.fs-20
                span.ml-8.caption1.text-white hi.avitex@gmail.com
        .right-block.flex-item-center.gap-20
            select(name="languge").border-none.outline-none.bg-dark.text-white.pr-8.caption2
                option(value="English") English
                option(value="France") France
                option(value="Espana") Espana
            .line.h-24.w-1.bg-grey 
            include ../../list-social/social-one.pug