.top-nav.style-three.bg-gradient
    .container.flex-between.h-60
        .left-block.flex-item-center
            .location.flex-item-center
                i.ph-light.ph-map-pin.text-white.fs-20
                span.ml-8.caption1.text-white 160 Broadway 15th floor, New York
            .mail.ml-28.flex-item-center
                i.ph-light.ph-clock.text-white.fs-20
                span.ml-8.caption1.text-white 8:00 am - 6:00 pm
        .right-block.flex-item-center.gap-12
            .mail.flex-item-center
                i.ph-light.ph-envelope.text-white.fs-20
                span.ml-8.caption1.text-white hi.avitex@gmail.com
            .line.h-24.w-1.bg-surface 
            .call-block.flex-item-center.gap-8.bg-white.bora-100.pt-4.pb-4.pl-8.pr-8
                i.ph-fill.ph-phone.p-4.bora-50.bg-gradient.text-white
                .text-gradient.fw-700 123 456 7890

