.top-nav.style-four.bg-white
    .container.flex-between.h-60
        a(href="").left-block.flex-item-center
            img.menu-logo(src="assets/images/Logo.svg", alt="logo")
        .right-block.flex-item-center.gap-40
            .location.flex-item-center
                i.ph-light.ph-map-pin.fs-20
                span.ml-8.caption2 160 Broadway 15th floor, New York
            .flex-item-center.gap-12
                .caption2 Follow Us
                include ../../list-social/social-four.pug
            select(name="languge").border-none.outline-none.pr-8.caption2
                option(value="English") English
                option(value="France") France
                option(value="Espana") Espana