.top-nav.style-two.bg-dark-blue
    .container.flex-between.h-44
        .left-block.flex-item-center
            select(name="languge").border-none.outline-none.bg-dark-blue.text-white.pr-8.caption2
                option(value="English") English
                option(value="France") France
                option(value="Espana") Espana
        .right-block.flex-item-center.gap-20
            .location.flex-item-center
                i.ph-light.ph-map-pin.text-white.fs-20
                span.ml-8.caption2.text-white 160 Broadway 15th floor, New York
            .mail.flex-item-center
                i.ph-light.ph-phone.text-white.fs-20
                span.ml-8.caption2.text-white 333 456 8888
            