/*
Form contact main: Start
*/
.form-cta-block {
  position: relative;
  height: 514px;
}
.form-cta-block .bg-img img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.form-cta-block .container > .row > div:last-child {
  display: flex;
  justify-content: flex-end;
}
.form-cta-block .container > .row > div:last-child .form-block {
  width: 78%;
}
.form-cta-block .container > .row > div:last-child .form-block input,
.form-cta-block .container > .row > div:last-child .form-block select,
.form-cta-block .container > .row > div:last-child .form-block textarea {
  outline: none;
  border: 2px solid transparent;
}
.form-cta-block .container > .row > div:last-child .form-block input:focus,
.form-cta-block .container > .row > div:last-child .form-block select:focus,
.form-cta-block .container > .row > div:last-child .form-block textarea:focus {
  border: 2px solid var(--blue);
}
.form-cta-block .container > .row > div:last-child .form-block select {
  -webkit-appearance: none;
}
.form-cta-block .container > .row > div:last-child .form-block .col-12 {
  position: relative;
}
.form-cta-block .container > .row > div:last-child .form-block .col-12 i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}
.form-cta-block .container > .row > div:last-child .form-block button {
  border: none;
  outline: none;
  transition: 0.3s;
}
.form-cta-block .container > .row > div:last-child .form-block button:hover {
  background-color: var(--white);
  color: var(--blue);
}

@media (max-width: 991.99px) {
  .form-cta-block {
    height: 680px;
  }
  .form-cta-block .container > .row {
    padding-top: 30px;
    padding-bottom: 36px;
  }
  .form-cta-block .container > .row > div:first-child div br {
    display: none;
  }
  .form-cta-block .container > .row > div:last-child {
    justify-content: unset;
  }
  .form-cta-block .container > .row > div:last-child .form-block {
    width: 100%;
  }
}
@media (max-width: 991.99px) {
  .form-cta-block {
    height: 520px;
  }
}
@media (max-width: 575.99px) {
  .form-cta-block {
    height: 580px;
  }
}
@media (max-width: 400.99px) {
  .form-cta-block {
    height: 620px;
  }
}
/*
Form contact main: End
*/
/*
Form contact Home6: Start
*/
.style-six .form-cta-block {
  position: relative;
}
.style-six .form-cta-block .bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.style-six .form-cta-block .bg-img img {
  position: fixed;
}
.style-six .form-cta-block .form-block {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}
.style-six .form-cta-block .button-block button {
  background-color: var(--orange);
  border: none !important;
}
.style-six .form-cta-block .button-block button:hover {
  background-color: var(--white) !important;
  color: var(--orange) !important;
  border: none !important;
}
@media (max-width: 991.99px) {
  .style-six .form-cta-block {
    height: 630px;
  }
  .style-six .form-cta-block .container > .row {
    padding-top: 20px;
    padding-bottom: 24px;
  }
}
@media (max-width: 767.99px) {
  .style-six .form-cta-block {
    height: 520px;
  }
}
@media (max-width: 575.99px) {
  .style-six .form-cta-block {
    height: 580px;
  }
}
@media (max-width: 396.99px) {
  .style-six .form-cta-block {
    height: 600px;
  }
}

/*
Form contact Home6: End
*/