//build:js assets/js/main.min.js
script(src="./assets/js/jquery-3.7.0.js")
script(src="./assets/js/jquery-migrate-3.4.1.js")
script(src="./assets/js/slick.min.js")
script(src="./assets/js/waypoints.min.js")
script(src="./assets/js/countUp.min.js")
script(src="./assets/js/phosphor-icon.js")
script(src="./assets/js/scrollreveal-4.0.0.min.js")
script(src="./assets/js/bootstrap-drawer.min.js")
script(src="./assets/js/drawer.min.js")
script(src="./assets/js/main.min.js")
//endbuild