.count-number-block
    .container 
        .row.row-gap-32
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                .count-block.flex-item-center
                    .counter.heading3 2.3
                    span.heading3 k
                .body1.text-secondary Business Setup Growth
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                .count-block.flex-item-center
                    .counter.heading3 1.77
                    span.heading3 k
                .body1.text-secondary Business Problem Solving
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                .count-block.flex-item-center
                    .counter.heading3 298
                    span.heading3 k
                .body1.text-secondary Goal achiever
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                .count-block.flex-item-center
                    .counter.heading3 246
                    span.heading3 k
                .body1.text-secondary Passive income earners
