.financial-assessment-block.pt-100.pb-100.bg-white
    .container
        .row.flex-item-center
            .col-12.col-xl-6.col-lg-12
                .bg-img.w-100.overflow-hidden.bora-20
                    img(src="assets/images/component/assessment.png", alt="").w-100.h-100.hover-scale.display-block.bora-20
            .col-12.col-xl-6.col-lg-12.flex-column
                .heading3.ml-40 company overview
                .nav-infor.ml-40.mt-40
                    .list-nav.flex-item-center.gap-40
                        .nav-item&attributes({"data-name":"about-us"}).active About Us
                        .nav-item&attributes({"data-name":"mission"}) Mission
                        .nav-item&attributes({"data-name":"vision"}) Vision
                    div(class="description item-filter" data-name="about-us")
                        .title.body3.text-secondary.mt-16 We're a devoted team providing premium financial solutions. Explore our mission, values, and achievements as we empower clients for a secure financial future.
                        .more-infor.mt-24
                            .infor.flex-item-center.gap-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Identification of monthly income
                            .infor.flex-item-center.gap-12.mt-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Creation of savings and investment plan
                            .infor.flex-item-center.gap-12.mt-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Management and calculation of monthly expenses
                    div(class="description item-filter hide" data-name="mission")
                        .title.body3.text-secondary.mt-16 Our mission is to provide comprehensive and personalized financial solutions that empower our clients to achieve their financial goals and secure their future.
                        .more-infor.mt-24
                            .infor.flex-item-center.gap-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Management and calculation of monthly expenses
                            .infor.flex-item-center.gap-12.mt-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Identification of monthly income
                            .infor.flex-item-center.gap-12.mt-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Creation of savings and investment plan
                    div(class="description item-filter hide" data-name="vision")
                        .title.body3.text-secondary.mt-16 Our unwavering vision is to be the most trusted and preferred partner in achieving financial success, diligently guiding our valued clients toward a secure and prosperous future.
                        .more-infor.mt-24
                            .infor.flex-item-center.gap-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Creation of savings and investment plan
                            .infor.flex-item-center.gap-12.mt-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Management and calculation of monthly expenses
                            .infor.flex-item-center.gap-12.mt-12 
                                i.ph-fill.ph-check-circle.fs-20.text-blue
                                .text-button Identification of monthly income
                .button-block.flex-item-center.gap-20.ml-40.mt-40.pb-8
                    include ../../mixins/button.pug
                    +button({type:'link', href:'contact-two.html', classname:'text-white bg-blue hover-button-black text-button pt-14 pb-14 pl-36 pr-36 bora-48', text:'Get started'})    
                    +button({type:'link', href:'contact-two.html', classname:'text-on-surface hover-button-black bg-white text-button pt-12 pb-12 pl-36 pr-36 bora-48 border-blue-2px', text:'(00) 123 456 789', icon:'ph ph-phone fs-20'})    
