.our-project-block.mt-100 
    .container
        .heading3.text-center Our Projects
        .body2.text-secondary.mt-12.text-center Find your favourite jobs and get the benefits of yourself
    .list-project.mt-40 
        .row 
            .col-12.col-xl-3.col-md-4.col-sm-6 
                .item
                    .bg-img.overflow-hidden
                        img(src="assets/images/component/Project.png", alt="").w-100.h-100
                    a(href="case-studies-detail.html").text 
                        .heading5.text-white Financial assessment
                        .body3.text-white.mt-4 Budget Planning
                    a(href="case-studies-detail.html").arrow.bg-white.bora-50
                        i.ph.ph-arrow-right.fs-28.p-12
            .col-12.col-xl-3.col-md-4.col-sm-6 
                .item
                    .bg-img.overflow-hidden
                        img(src="assets/images/component/Project-1.png", alt="").w-100.h-100
                    a(href="case-studies-detail.html").text
                        .heading5.text-white Budget Planning
                        .body3.text-white.mt-4 Financial Advice
                    a(href="case-studies-detail.html").arrow.bg-white.bora-50
                        i.ph.ph-arrow-right.fs-28.p-12
            .col-12.col-xl-3.col-md-4.col-sm-6 
                .item
                    .bg-img.overflow-hidden
                        img(src="assets/images/component/Project-2.png", alt="").w-100.h-100
                    a(href="case-studies-detail.html").text
                        .heading5.text-white Insurance advice
                        .body3.text-white.mt-4 Financial Planning
                    a(href="case-studies-detail.html").arrow.bg-white.bora-50
                        i.ph.ph-arrow-right.fs-28.p-12
            .col-12.col-xl-3.col-md-4.col-sm-6 
                .item
                    .bg-img.overflow-hidden
                        img(src="assets/images/component/Project-3.png", alt="").w-100.h-100
                    a(href="case-studies-detail.html").text
                        .heading5.text-white Savings advice
                        .body3.text-white.mt-4 Business Planning
                    a(href="case-studies-detail.html").arrow.bg-white.bora-50
                        i.ph.ph-arrow-right.fs-28.p-12
            .col-12.col-xl-3.col-md-4.col-sm-6 
                .item
                    .bg-img.overflow-hidden
                        img(src="assets/images/component/Project-4.png", alt="").w-100.h-100
                    a(href="case-studies-detail.html").text
                        .heading5.text-white Portfolio Management
                        .body3.text-white.mt-4 Manage Account Infor
                    a(href="case-studies-detail.html").arrow.bg-white.bora-50
                        i.ph.ph-arrow-right.fs-28.p-12
