.scroll-to-top-btn {
    background-color: var(--blue);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    right: 30px;
    transition: all ease 0.3s;
    box-shadow: 0px 5px 25px rgba(58, 64, 67, 0.2);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;

    i {
        color: var(--white);
        transition: all ease 0.3s;
    }

    &:hover {
        background-color: var(--on-surface);
    }
}

.scroll-to-top-btn.active {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
}

.style-three {
    .scroll-to-top-btn {
        background-color: var(--gradient);

        &:hover {
            background-color: var(--on-surface);
        }
    }
}

.style-four {
    .scroll-to-top-btn {
        background-color: var(--success);

        &:hover {
            background-color: var(--on-surface);
        }
    }
}

.style-six {
    .scroll-to-top-btn {
        background-color: var(--orange);

        &:hover {
            background-color: var(--white);

            i {
                color: var(--orange);
            }
        }
    }
}