
// Section Slider Subpage Main: Start
.slider-sub {
    width: 100%;
    height: 400px;
    position: relative;

    .bg-img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        .heading-nav {
            background-color: #808792;
            border-radius: 36px;
            padding: 6px 16px;
            display: inline-flex;
            align-items: center;


            i {
                margin-top: 2px;
                font-size: 10px;
            }
        }

        .text-nav {
            margin-top: 75px;
            width: 50%;
        }
    }

    @media (max-width: 767.99px) {
        height: 300px;

        .container .text-nav {
            margin-top: 50px;
            width: 75%;
        }
    }
}