// Section Form Resquest Home4: Start
.form-request-block.style-four {
    position: relative;
    width: 100%;
    margin-bottom: -1px;

    .bg-img {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        img {
            object-fit: cover;
            display: block;
        }
    }

    .form {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 16px;
        border-radius: 16px;

        .row {
            row-gap: 16px;

            >div:last-child {
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 30px;
                }
            }
        }

        .button-block {
            button {
                outline: none;
                border: none;
            }
        }
    }

    @media (max-width: 1023.99px) {
        .form {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @media (max-width: 991.99px) {
        .form {
            .row {
                row-gap: 16px;
                margin-left: 0;
                margin-right: 0;

                >div {
                    padding-left: 0;
                }

                >div:nth-child(2),
                >div:nth-child(3) {
                    padding-right: 0;
                }
            }
        }
    }

    @media (max-width: 767.99px) {
        .form {
            .row {
                >div:first-child {
                    padding-right: 0;
                }
            }
        }
    }
}
// Section Form Resquest Home4: End
