.about-home-five.mt-100
    .container 
        .row.flex-between.row-gap-32
            .col-12.col-lg-6 
                .text-about
                    .text-sub-heading2.text-white.pt-8.pb-8.pl-16.pr-16.bg-blue.bora-8.display-inline-block About
                    .heading3.mt-24 Empowering Your Cryptocurrency Trading Journey
                    .body3.text-secondary.mt-20 Explore our mission to provide reliable and innovative cryptocurrency trading solutions, backed by expert insights and cutting-edge technology.
                    .list.mt-40 
                        .row.row-gap-6  
                            .col-12.col-sm-6.left 
                                .item.flex-item-center.gap-12 
                                    i.ph-fill.ph-square.text-blue
                                    .heading7 Blockchain Stratery
                                .item.flex-item-center.gap-12.mt-12
                                    i.ph-fill.ph-square.text-blue
                                    .heading7 ICO Progress
                                .item.flex-item-center.gap-12.mt-12
                                    i.ph-fill.ph-square.text-blue
                                    .heading7 Crypto Trading
                            .col-12.col-sm-6.right 
                                .item.flex-item-center.gap-12 
                                    i.ph-fill.ph-square.text-blue
                                    .heading7 Financial assessment
                                .item.flex-item-center.gap-12.mt-12
                                    i.ph-fill.ph-square.text-blue
                                    .heading7 Blockchain Stratery 
                                .item.flex-item-center.gap-12.mt-12
                                    i.ph-fill.ph-square.text-blue
                                    .heading7 ICO Progress
            .col-12.col-lg-5.col-md-8.col-sm-8
                .bg-img.w-100
                    img(src="assets/images/component/about-home5.png", alt="").w-100
                .sub-img 
                    img(src="assets/images/component/sub-about5-left.png", alt="")
                    img(src="assets/images/component/sub-about5.png", alt="")
