.card-block.mt-100 
    .container 
        .bg-img.w-100
            img(src="assets/images/component/phone1-home5.png", alt="")
            img(src="assets/images/component/phone2-home5.png", alt="")
            img(src="assets/images/component/phone3-home5.png", alt="")
        .text.mt-40.text-center
            .heading3.text-center One of the Most Trusted Wealth Management Companies
            .body3.text-secondary.mt-12.text-center Finatex - Empowering Your Cryptocurrency Trading Journey. Experience secure and transparent trading with our expert team and cutting-edge solutions.

