.video-block.style-four.mt-100 
    .container
        .list-feature.bg-surface.p-40.bora-20.overflow-hidden.w-100
            .row.row-gap-32
                .col-12.col-xl-3.col-md-6.col-sm-6.flex-columns-center
                    i.icon-user-happy.fs-48
                    .count-block.flex-item-center.mt-24
                        .counter.heading3 2.3
                        span.heading3 k
                    .body1.mt-4.text-center Business Setup Growth
                .col-12.col-xl-3.col-md-6.col-sm-6.flex-columns-center
                    i.icon-rocket.fs-42
                    .count-block.flex-item-center.mt-24
                        .counter.heading3 1.77
                        span.heading3 k
                    .body1.mt-4.text-center Business Problem Solving
                .col-12.col-xl-3.col-md-6.col-sm-6.flex-columns-center
                    i.icon-target.fs-42
                    .count-block.flex-item-center.mt-24
                        .counter.heading3 298
                        span.heading3 k
                    .body1.mt-4.text-center Goal achiever
                .col-12.col-xl-3.col-md-6.col-sm-6.flex-columns-center
                    i.icon-wallet.fs-36
                    .count-block.flex-item-center.mt-24
                        .counter.heading3 246
                        span.heading3 k
                    .body1.mt-4.text-center Passive income earners
