include ../../../mixins/button.pug

.cta-block.style-two
    .bg-cta.w-100
        img(src="assets/images/cta/bg-cta1.png", alt="").w-100.h-100
    .container.flex-between.h-100
        .heading5.text-white Looking for a first-class business consultant?
        +button({type:'link', href:'contact-two.html', classname:'hover-button-black bg-white text-button pl-36 pr-36 pt-12 pb-12 bora-48', text:'Get A Quote'})
        