include ../../../mixins/button.pug

.cta-block.style-four.bg-white
    .bg-cta.w-100
        img(src="assets/images/cta/bg-cta4.png", alt="").w-100.h-100
    .container.flex-columns-center.h-100.pt-80.pb-80
        .heading3.text-white.text-center Take control of your financial future.
        .body3.text-white.text-center.mt-16 Let us help you achieve your financial goals. Contact us today to schedule a consultation
        +button({type:'link', href:'contact-two.html', classname:'hover-bg-white bg-success text-button pl-36 pr-36 pt-12 pb-12 bora-48 mt-32', text:'Get A Quote'})
        