.form-cta-block.benefit-three {
  height: unset !important;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 767.99px) {
  .form-cta-block.benefit-three {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.form-cta-block.benefit-three .container > .row > div:last-child .form-block button {
  border: none;
}
.form-cta-block.benefit-three .container > .row > div:last-child .form-block button:hover {
  background-color: var(--blue);
  color: var(--white);
}