include ../../mixins/button.pug

.payment-gateway-two.mt-100
    .container 
        .row.row-gap-32.flex-item-center
            .col-12.col-xl-5.flex-column.row-gap-20
                .heading3 Payment Gateway Services
                .body2.text-secondary We provide reliable and secure payment gateway services for businesses of all sizes. With our cutting-edge technology and 24/7 customer support, you can easily accept payments from customers all over the world.
                .list-service 
                    .service-item.flex-item-center 
                        i.ph-bold.ph-check.text-blue.fs-24 
                        .text-button.ml-12 Debt evaluation and ability to repay
                    .service-item.flex-item-center.mt-12
                        i.ph-bold.ph-check.text-blue.fs-24 
                        .text-button.ml-12 Calculation of credit limit
                    .service-item.flex-item-center.mt-12
                        i.ph-bold.ph-check.text-blue.fs-24 
                        .text-button.ml-12 Consolidation of personal financial data
                .button-block
                    +button({type:'link', href:'contact-two.html', classname:'hover-bg-blue text-white bg-on-surface text-button display-inline-block pt-12 pb-12 pl-36 pr-36 bora-48', text:'Get started'})    
            .col-11.col-xl-7 
                .right.pl-40
                    .bg-img 
                        img(src="assets/images/component/gateway2-bg.png", alt="").w-100
                    .feature-item.pt-16.pb-16.pl-24.pr-24.bora-20.bg-white.flex-item-center.gap-16.box-shadow.display-inline-flex
                        i.icon-list.fs-28.bg-orange.p-16.bora-20 
                        .text 
                            .heading7 2K+
                            .heading7.text-secondary Projects
                    .feature-item.pt-16.pb-16.pl-24.pr-24.bora-20.bg-white.flex-item-center.gap-16.box-shadow.display-inline-flex
                        i.ph-fill.ph-star.fs-32.bora-20.text-yellow
                        .text 
                            .heading7 4.8
                            .heading7.text-secondary Satisfaction
                    .feature-item.pt-16.pb-16.pl-24.pr-24.bora-20.bg-white.flex-item-center.gap-16.box-shadow.display-inline-flex
                        i.icon-user.fs-32.bg-orange.p-16.bora-20 
                        .text 
                            .heading7 5 Years
                            .heading7.text-secondary Product Designer




