include ../../../mixins/button.pug

.header-menu.style-six
    .container 
        .header-main 
            .menu-header.flex-between
                a(href="").menu-left-block
                    img.menu-logo(src="assets/images/LogoWhite.svg", alt="logo")
                .menu-center-block.h-100
                    ul.menu-nav.flex-item-center.h-100
                        li.nav-item.h-100.flex-center.home
                            a.nav-link(href="#!").text-white Home 
                                i.ph.ph-caret-down.fs-14
                            ul.sub-nav.hidden
                                li.sub-nav-item.active
                                    a.sub-nav-link(href="index.html") Payment Solution
                                li.sub-nav-item 
                                    a.sub-nav-link(href="home2.html") Financial Planning
                                li.sub-nav-item 
                                    a.sub-nav-link(href="home3.html") Online Banking
                                li.sub-nav-item 
                                    a.sub-nav-link(href="home4.html") Personal Finance
                                li.sub-nav-item 
                                    a.sub-nav-link(href="home5.html") Cryptocurrency Financial
                                li.sub-nav-item 
                                    a.sub-nav-link(href="home6.html") Blockchain
                        li.nav-item.h-100.flex-center.about
                            a.nav-link(href="#!").text-white About 
                                i.ph.ph-caret-down.fs-14
                            ul.sub-nav.hidden
                                li.sub-nav-item 
                                    a.sub-nav-link(href="about-one.html") About Style 1
                                li.sub-nav-item 
                                    a.sub-nav-link(href="about-two.html") About Style 2
                        li.nav-item.h-100.flex-center.services
                            a.nav-link(href="#!").text-white Services 
                                i.ph.ph-caret-down.fs-14
                            ul.sub-nav.hidden
                                li.sub-nav-item 
                                    a.sub-nav-link(href="service-one.html") Service Style 1
                                li.sub-nav-item 
                                    a.sub-nav-link(href="service-two.html") Service Style 2
                                li.sub-nav-item 
                                    a.sub-nav-link(href="service-detail.html") Services Detail
                        li.nav-item.h-100.flex-center.case
                            a.nav-link(href="#!").text-white Case Studies 
                                i.ph.ph-caret-down.fs-14
                            ul.sub-nav.hidden
                                li.sub-nav-item 
                                    a.sub-nav-link(href="case-studies-one.html") Case Studies 1
                                li.sub-nav-item 
                                    a.sub-nav-link(href="case-studies-two.html") Case Studies 2
                                li.sub-nav-item 
                                    a.sub-nav-link(href="case-studies-detail.html") Case Studies Detail
                        li.nav-item.h-100.flex-center.pages
                            a.nav-link(href="#!").text-white Pages 
                                i.ph.ph-caret-down.fs-14
                            ul.sub-nav.hidden
                                li.sub-nav-item 
                                    a.sub-nav-link(href="faqs.html") FAQs
                                li.sub-nav-item 
                                    a.sub-nav-link(href="pricing.html") Pricing
                                li.sub-nav-item 
                                    a.sub-nav-link(href="partners.html") Partners
                        li.nav-item.h-100.flex-center.blog
                            a.nav-link(href="#!").text-white Blog 
                                i.ph.ph-caret-down.fs-14
                            ul.sub-nav.hidden
                                li.sub-nav-item 
                                    a.sub-nav-link(href="blog-list-one.html") Blog List 1
                                li.sub-nav-item 
                                    a.sub-nav-link(href="blog-list-two.html") Blog List 2
                                li.sub-nav-item 
                                    a.sub-nav-link(href="blog-grid.html") Blog Grid
                                li.sub-nav-item 
                                    a.sub-nav-link(href="blog-masonry.html") Blog Masonry
                                li.sub-nav-item 
                                    a.sub-nav-link(href="blog-detail-one.html") Blog Detail 1
                                li.sub-nav-item 
                                    a.sub-nav-link(href="blog-detail-two.html") Blog Detail 2
                        li.nav-item.h-100.flex-center.contact
                            a.nav-link(href="#!").text-white Contact 
                                i.ph.ph-caret-down.fs-14
                            ul.sub-nav.hidden
                                li.sub-nav-item 
                                    a.sub-nav-link(href="contact-one.html") Contact Style 1
                                li.sub-nav-item 
                                    a.sub-nav-link(href="contact-two.html") Contact Style 2
                .menu-right-block.flex-item-center
                    +button({type:'link', href:'contact-two.html', classname:'bg-orange border-transparent hover-text-orange hover-bg-white text-white text-button pl-36 pr-36 pt-12 pb-12 bora-100', text:'Get a quote'})
                    .menu-humburger.display-none.pointer
                        i.ph-bold.ph-list.fs-24.text-white
    #menu-mobile-block 
        .menu-mobile-main 
            .container 
                ul.menu-nav-mobile.h-100.pt-4.pb-4
                    li.nav-item-mobile.h-100.flex-column.gap-8.pt-8.pb-8.pl-12.pr-12.pointer.home
                        a.fs-14.nav-link-mobile(href="#!") Home 
                            i.ph-fill.ph-caret-down.fs-12
                        ul.sub-nav-mobile
                            .line-x
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8.active
                                a.sub-nav-link.fs-14(href="index.html") Payment Solution
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="home2.html") Financial Planning
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="home3.html") Online Banking
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="home4.html") Personal Finance
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="home5.html") Cryptocurrency Financial
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="home6.html") Blockchain
                    li.nav-item-mobile.h-100.flex-column.gap-8.pt-4.pb-8.pl-12.pr-12.pointer.about
                        a.fs-14.nav-link-mobile(href="#!") About 
                            i.ph-fill.ph-caret-down.fs-12
                        ul.sub-nav-mobile
                            .line-x
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8
                                a.sub-nav-link.fs-14(href="about-one.html") About Style 1
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="about-two.html") About Style 2
                    li.nav-item-mobile.h-100.flex-column.gap-8.pt-4.pb-8.pl-12.pr-12.pointer.services
                        a.fs-14.nav-link-mobile(href="#!") Services 
                            i.ph-fill.ph-caret-down.fs-12
                        ul.sub-nav-mobile
                            .line-x
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8
                                a.sub-nav-link.fs-14(href="service-one.html") Service Style 1
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="service-two.html") Service Style 2
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="service-detail.html") Services Detail
                    li.nav-item-mobile.h-100.flex-column.gap-8.pt-4.pb-8.pl-12.pr-12.pointer.case
                        a.fs-14.nav-link-mobile(href="#!") Case Studies 
                            i.ph-fill.ph-caret-down.fs-12
                        ul.sub-nav-mobile
                            .line-x
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="case-studies-one.html") Case Studies 1
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="case-studies-two.html") Case Studies 2
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="case-studies-detail.html") Case Studies Detail
                    li.nav-item-mobile.h-100.flex-column.gap-8.pt-4.pb-8.pl-12.pr-12.pointer.pages
                        a.fs-14.nav-link-mobile(href="#!") Pages 
                            i.ph-fill.ph-caret-down.fs-12
                        ul.sub-nav-mobile
                            .line-x
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8
                                a.sub-nav-link.fs-14(href="faqs.html") FAQs
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="pricing.html") Pricing
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="partners.html") Partners
                    li.nav-item-mobile.h-100.flex-column.gap-8.pt-4.pb-8.pl-12.pr-12.pointer.blog
                        a.fs-14.nav-link-mobile(href="#!") Blog 
                            i.ph-fill.ph-caret-down.fs-12
                        ul.sub-nav-mobile
                            .line-x
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8
                                a.sub-nav-link.fs-14(href="blog-list-one.html") Blog List 1
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="blog-list-two.html") Blog List 2
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8
                                a.sub-nav-link.fs-14(href="blog-grid.html") Blog Grid
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="blog-masonry.html") Blog Masonry
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8
                                a.sub-nav-link.fs-14(href="blog-detail-one.html") Blog Detail 1
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="blog-detail-two.html") Blog Detail 2
                    li.nav-item-mobile.h-100.flex-column.gap-8.pt-4.pb-8.pl-12.pr-12.pointer.contact
                        a.fs-14.nav-link-mobile(href="#!") Contact 
                            i.ph-fill.ph-caret-down.fs-12
                        ul.sub-nav-mobile
                            .line-x
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8
                                a.sub-nav-link.fs-14(href="contact-one.html") Contact Style 1
                            li.sub-nav-item.pl-12.pr-12.pt-8.pb-8 
                                a.sub-nav-link.fs-14(href="contact-two.html") Contact Style 2
            .close-block 
                i.ph-bold.ph-x