.how-we-work.pt-100.bg-on-surface 
    .container 
        .text-button-uppercase.text-orange How We Work 
        .heading.mt-12
            .row.w-100.row-gap-24.flex-item-center
                .heading3.text-white.col-12.col-xl-6 Streamlining Your <br>Blockchain Experience
                .body2.text-placehover.col-12.col-xl-6 Efficiently navigate the world of blockchain with our streamlined approach, from discovery and planning to development and ongoing support.
        .row
            .col-12.col-xl-3.col-md-6.col-sm-6
                .main-item.bora-16.p-32
                    .number.heading4.text-white.bg-orange.bora-20.display-inline-block 01
                    .heading7.text-white Consultation
                    .body3.text-placehover.mt-8 We understand your business requirements and goals, analyzing challenges and opportunities to devise an effective blockchain strategy.
            .col-12.col-xl-3.col-md-6.col-sm-6
                .main-item.bora-16.p-32
                    .number.heading4.text-white.bg-orange.bora-20.display-inline-block 02
                    .heading7.text-white Planning
                    .body3.text-placehover.mt-8 We develop a tailored plan and roadmap, and defining objectives, and timelines, and milestones for your business successful implementation.
            .col-12.col-xl-3.col-md-6.col-sm-6
                .main-item.bora-16.p-32
                    .number.heading4.text-white.bg-orange.bora-20.display-inline-block 03
                    .heading7.text-white Blockchain
                    .body3.text-placehover.mt-8 Our skilled team creates robust and scalable blockchain solutions, including smart contracts and decentralized applications (DApps).
            .col-12.col-xl-3.col-md-6.col-sm-6
                .main-item.bora-16.p-32
                    .number.heading4.text-white.bg-orange.bora-20.display-inline-block 04
                    .heading7.text-white Deployment
                    .body3.text-placehover.mt-8 We deploy your blockchain solution securely, integrate it into your infrastructure, provide training, offer ongoing support, maintenance.
            
