.people-trust-us.pt-100.bg-on-surface 
    .container 
        .row.flex-between.row-gap-32
            .col-12.col-xl-6.col-lg-5.pl-100 
                .bg-img
                    img(src="assets/images/component/earth6.png", alt="").w-100
            .col-12.col-xl-5.col-lg-6
                .text-button-uppercase.text-orange People Trust Us
                .heading3.text-white.mt-12 The #1 blockchain company in the Asian
                .body1.text-placehover.mt-40 At Finatex, we're passionate about helping freelancers succeed in today's competitive digital landscape. With years of experience in the industry, we understand the unique challenges & opportunities that freelancers face when it comes to SEO and digital marketing.
                .row.flex-item-center.mt-40
                    .col-5
                        .bg-img
                            img(src="assets/images/component/avatar-group6.png", alt="").w-100
                    .col-7.col-sm-6  
                        .text-button.text-white Trusted by 50M+ People around the globe
