.video-about-block.pt-100.bg-on-surface
    .container 
        .bg-img.w-100.p-36.bora-24
            img(src="assets/images/component/thumbnail6.png", alt="").w-100.display-block
            i.ph-fill.ph-play.text-critical.fs-28.bg-white.p-28.bora-50
        .row.mt-40.flex-columns-center
            .col-11.col-sm-9
                .heading6.fw-500.text-white.text-center Finatex is a leading blockchain platform that provides cutting-edge solutions for businesses. 
            .mt-40.col-12
                .row.row-gap-32
                    .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                        .count-block.flex-item-center
                            .counter.heading3.text-white 22
                            span.heading3.text-white k+
                        .body1.text-placehover.mt-8 Project completed
                    .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                        .count-block.flex-item-center
                            .counter.heading3.text-white 8
                            span.heading3.text-white k+
                        .body1.text-placehover.mt-8 Happy customers
                    .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                        .count-block.flex-item-center
                            .counter.heading3.text-white 14
                            span.heading3.text-white k+
                        .body1.text-placehover.mt-8 Years experiences
                    .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                        .count-block.flex-item-center
                            .counter.heading3.text-white 68
                            span.heading3.text-white k+
                        .body1.text-placehover.mt-8 Awards achievement