.case-studies-block.style-one.style-four.pt-100.pb-100.bg-white
    .container 
        .heading.flex-between.gap-12
            .heading3 Case Study
            a(href="case-studies-two.html").text-underline.view-all.fw-700.hover-text-success View All
        .row.mt-40
            .col-12.col-xl-4.col-sm-6
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item1.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Retirement Planning<br/>Strategies
            .col-12.col-xl-4.col-sm-6
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item2.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Retirement Planning
                        .heading6.mt-8 Tax Optimization<br/>Solutions
            .col-12.col-xl-4.col-sm-6
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item5.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Account management tools
                        .heading6.mt-8 Business Succession<br/>Planning
            .col-12.col-xl-4.col-sm-6.display-none.col-lg-show
                a(href="case-studies-detail.html").item-main
                    .bg-img.bora-16.overflow-hidden
                        img(src="assets/images/blog/item7.png", alt="").w-100.h-100.bora-16.display-block
                    .infor.bg-white.bora-8.pl-24.pr-24.pt-16.pb-16.text-center
                        .category.text-button-uppercase.text-secondary Made Financial Planning
                        .heading6.mt-8 Business Succession<br/>Planning