#video.video-block.style-four.pt-100.bg-white
    .container 
        .video.w-100
            img(src="assets/images/component/thumbnail4.png", alt="").w-100.display-block
            i.ph-fill.ph-play.text-critical.fs-28.bg-white.p-28.bora-50

.count-number-block.style-four.bg-white
    .container
        .row.row-gap-32
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                .count-block.flex-item-center
                    .counter.heading3.text-white 2.3
                    span.heading3.text-white k
                .body1.text-white Business Setup Growth
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                .count-block.flex-item-center
                    .counter.heading3.text-white 1.77
                    span.heading3.text-white k
                .body1.text-white Business Problem Solving
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                .count-block.flex-item-center
                    .counter.heading3.text-white 298
                    span.heading3.text-white k
                .body1.text-white Goal achiever
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6.flex-columns-center
                .count-block.flex-item-center
                    .counter.heading3.text-white 246
                    span.heading3.text-white k
                .body1.text-white Passive income earners
