include ../../mixins/button.pug

.form-request-block.style-four
    .content-main
        .bg-img.w-100
            img(src="assets/images/banner/form-request4.png", alt="").w-100.h-100
        .container.flex-columns-center.h-100.pt-60.pb-60
            .heading3.text-white.text-center Request a free call back.
            .body3.text-white.text-center.mt-24 Working with this agency has been a game-changer for our business
            .form.mt-24.flex-between.gap-30.w-100
                .row.w-100
                    .col-12.col-lg-4.col-md-6
                        input(type="text" placeholder="First name*").body3.pt-12.pb-12.pl-20.pr-20.bg-surface.bora-8.w-100
                    .col-12.col-lg-4.col-md-6
                        input(type="text" placeholder="Email").body3.pt-12.pb-12.pl-20.pr-20.bg-surface.bora-8.w-100
                    .col-12.col-lg-4.select-arrow-none
                        select(name="categories").body3.pt-12.pb-12.pl-20.pr-20.bg-surface.bora-8.w-100
                            option(value="Financial Planning") Financial Planning
                            option(value="Business Planning") Business Planning
                            option(value="Development Planning") Development Planning
                        i.ph.ph-caret-down
                .button-block 
                    +button({type:'button', classname:'bg-on-surface hover-bg-success text-white text-button pl-28 pr-28 pt-12 pb-12 bora-48', text:'Submit'})

