include ../../mixins/blogItem.pug

.blog-list.style-four.pt-100.pb-100.bg-white
        .container 
            .heading.flex-between.gap-12
                .heading3 Our Blogs
                a(href="blog-list-one.html").text-underline.view.fw-700 View All
            .row.row-gap-32.mt-40
                div(class=`col-12 col-xl-6 pr-55`)
                    a(href='blog-detail-two.html').blog-item-main
                        .bg-img.w-100.overflow-hidden
                            img(src=`assets/images/blog/item6.png` alt="").w-100.h-100.display-block.bora-8
                        .infor
                            .heading4.mt-24 Retirement Planning Strategies
                            .body3.text-secondary.mt-12 We have the best quality articles, ensure the fastest knowledge and update information to readers. We hope it helps in the search for financial freedom.
                            .date.flex-item-center.gap-16.mt-8
                                .author.body3.text-secondary by 
                                    span.text-on-surface Avitex 
                                .item-date.flex-item-center
                                    i.ph-bold.ph-calendar-blank
                                    span.ml-4.body3 2 days ago
                .list-blog-related.col-12.col-xl-6.flex-column.row-gap-32
                    a(href="blog-detail-two.html").row.row-gap-24
                        .col-12.col-md-4
                            .bg-img.bora-8.overflow-hidden
                                img(src="assets/images/blog/item1.png", alt="").w-100.bora-8.display-block
                        .infor.col-12.col-md-8
                            .heading6 Helping a local business reinvent itself
                            .body3.text-secondary.mt-4 Supporting Local Business Transformation: Reinventing for Success.
                            .date.flex-item-center.gap-16.mt-8
                                .author.body3.text-secondary by 
                                    span.text-on-surface Avitex 
                                .item-date.flex-item-center
                                    i.ph-bold.ph-calendar-blank
                                    span.ml-4.body3 2 days ago
                    a(href="blog-detail-two.html").row.row-gap-24
                        .col-12.col-md-4
                            .bg-img.bora-8.overflow-hidden
                                img(src="assets/images/blog/item2.png", alt="").w-100.bora-8.display-block
                        .infor.col-12.col-md-8
                            .heading6 Personal Financial Assessment
                            .body3.text-secondary.mt-4 Unlocking Your Financial Potential: Personal Financial Assessment
                            .date.flex-item-center.gap-16.mt-8
                                .author.body3.text-secondary by 
                                    span.text-on-surface Avitex 
                                .item-date.flex-item-center
                                    i.ph-bold.ph-calendar-blank
                                    span.ml-4.body3 2 days ago
                    a(href="blog-detail-two.html").row.row-gap-24
                        .col-12.col-md-4
                            .bg-img.bora-8.overflow-hidden
                                img(src="assets/images/blog/item4.png", alt="").w-100.bora-8.display-block
                        .infor.col-12.col-md-8
                            .heading6 Investment Consulting
                            .body3.text-secondary.mt-4 Expert Investment Consulting for Optimal Financial Growth
                            .date.flex-item-center.gap-16.mt-8
                                .author.body3.text-secondary by 
                                    span.text-on-surface Avitex 
                                .item-date.flex-item-center
                                    i.ph-bold.ph-calendar-blank
                                    span.ml-4.body3 2 days ago
                    
                