extends base/layout.pug
block title
  title Service Detail - Investment Advice
block header 
    include components/header/top-nav/top-nav-one.pug
    div(class="style-subpage style-service-detail")
        include components/header/menu/menu-one.pug
block content
    include mixins/sliderSub.pug
    +sliderSub({classname: '', img:'assets/images/banner/contact.png', nav:'Home', link2:true, href2:'service-one.html', nav1:'Services', nav2:'Payment Solution', heading:'Investment Advice', subHeading:"Our team of experienced advisors will guide you in making informed investment decisions, whether you're a beginner or an experienced trader"})
    include ./mixins/questionItem.pug
    include ./mixins/button.pug
    
    .content-detail-block.pt-100.pb-100
        .container 
            .row.row-gap-32
                .col-12.col-xl-9 
                    .content-para.pr-55
                        .heading3 Investment Advice for Enhanced Payment Solutions
                        .body2.text-secondary.mt-16 Our objective for this project was to develop a comprehensive financial management platform that provided users with a centralized dashboard for managing their finances. We wanted to create a platform that was user-friendly, easy to navigate, and offered a range of features to help users track their spending, monitor their investments, and plan for their financial future. Our goal was to provide users with the tools and resources they need to make informed financial decisions and achieve their financial goals.
                        .bg-img.mt-32.mb-32
                            img(src="assets/images/component/thumbnail6.png", alt="").w-100.h-100.bora-16
                        .heading6 We offer diverse business solutions.
                        .body2.text-secondary.mt-16 At our company, we offer a comprehensive suite of business services tailored to meet our clients' unique needs and goals. Our services range from financial planning and accounting to marketing and brand management, delivered with exceptional value and expertise across various industries and business types. Our customized approach ensures that our solutions fit your specific objectives, whether you're a small startup or a large multinational corporation.
                        .list-feature.mt-32
                            .row.row-gap-12 
                                .col-12.col-lg-6.row-gap-12.flex-column
                                    .item.flex-item-center.gap-12 
                                        i.ph-fill.ph-check-circle.fs-20.text-blue
                                        .text-button Identification of monthly income
                                    .item.flex-item-center.gap-12 
                                        i.ph-fill.ph-check-circle.fs-20.text-blue
                                        .text-button Creation of savings and investment plan
                                    .item.flex-item-center.gap-12 
                                        i.ph-fill.ph-check-circle.fs-20.text-blue
                                        .text-button Management and calculation of monthly expenses
                                .col-12.col-lg-6.row-gap-12.flex-column
                                    .item.flex-item-center.gap-12 
                                        i.ph-fill.ph-check-circle.fs-20.text-blue
                                        .text-button Research and Analysis
                                    .item.flex-item-center.gap-12 
                                        i.ph-fill.ph-check-circle.fs-20.text-blue
                                        .text-button Investment Management and Investment Advice
                                    .item.flex-item-center.gap-12 
                                        i.ph-fill.ph-check-circle.fs-20.text-blue
                                        .text-button Education and Resources
                        .list-question.mt-60
                            .heading6 Questions about service
                            +questionItem({title:'When is the last time you can remember feeling ?', content: 'When is the last time you can remember feeling.'})
                            +questionItem({title:'Which of the Seven Wonders of the world do you?', content: 'When is the last time you can remember feeling.'})
                            +questionItem({title:'If you could change careers right this second', content: 'When is the last time you can remember feeling.'})
                            +questionItem({title:'What makes you happiest?', content: 'When is the last time you can remember feeling.'})
                .col-12.col-xl-3
                    .more-infor.border-line-1px.bora-12.pt-32.pb-32.pl-24.pr-24
                        .heading6 The best our Services
                        .body3.text-secondary.mt-8 Whether you have a team of 2 or 200, our shared team inboxes 
                        .list-nav.mt-16
                            a(href="service-detail.html").nav-item.bora-8.flex-between.p-12
                                .text-button.text-secondary Financial Planning
                                i.ph-bold.ph-caret-right.hidden
                            a(href="service-investment-advice.html").nav-item.bora-8.flex-between.p-12.mt-12.active
                                .text-button.text-secondary Payment Solution
                                i.ph-bold.ph-caret-right.hidden
                            a(href="service-cryptocurrency-trading.html").nav-item.bora-8.flex-between.p-12.mt-12
                                .text-button.text-secondary Cryptocurrency Financial
                                i.ph-bold.ph-caret-right.hidden
                            a(href="service-research-analysis.html").nav-item.bora-8.flex-between.p-12.mt-12
                                .text-button.text-secondary Blockchain
                                i.ph-bold.ph-caret-right.hidden
                            a(href="service-education-resources.html").nav-item.bora-8.flex-between.p-12.mt-12
                                .text-button.text-secondary Online Banking
                                i.ph-bold.ph-caret-right.hidden
                            a(href="service-portfolio-management.html").nav-item.bora-8.flex-between.p-12.mt-12
                                .text-button.text-secondary Personal Financial
                                i.ph-bold.ph-caret-right.hidden
                    .ads-block.bora-8
                        .bg-img 
                            img(src="assets/images/component/ads.png", alt="")
                        .text.flex-columns-between
                            .title
                                .heading5.text-white Let’s talk
                                .body3.text-white.mt-4 If you have project,<br>contact us!
                            .button-block 
                                +button({type:'link', href:'contact-style-one.html', classname:'hover-button-black display-inline-block bg-white text-button pl-36 pr-36 pt-12 pb-12 bora-48', text:'Learn now'})
    include components/scroll-to-top.pug                    
block footer 
  include components/footer/cta/cta-two.pug
  div(class="style-one")
    include components/footer/footer.pug
block script 
    include base/script.pug