.form-cta-block.benefit-two .bg-img img {
  position: absolute;
}
.form-cta-block.benefit-two .container > .row > div:last-child .form-block button {
  border: none;
}
.form-cta-block.benefit-two .container > .row > div:last-child .form-block button:hover {
  background-color: var(--on-surface);
  color: var(--white);
}
@media (max-width: 991.99px) {
  .form-cta-block.benefit-two {
    height: 720px;
  }
}
@media (max-width: 767.99px) {
  .form-cta-block.benefit-two {
    height: 560px;
  }
}
@media (max-width: 575.99px) {
  .form-cta-block.benefit-two {
    height: 640px;
  }
}