.our-project-block .list-project .row {
  margin-left: -5px;
  margin-right: -5px;
}
.our-project-block .list-project .row .col-12 {
  padding-left: 5px;
  padding-right: 5px;
}
.our-project-block .list-project .row .col-12 .item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 0.3s;
}
.our-project-block .list-project .row .col-12 .item .bg-img {
  position: relative;
}
.our-project-block .list-project .row .col-12 .item .bg-img img {
  transition: all ease 0.4s;
}
.our-project-block .list-project .row .col-12 .item .bg-img::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: var(--blue);
  opacity: 0.6;
  z-index: 1;
  transition: all ease 0.4s;
}
.our-project-block .list-project .row .col-12 .item .text {
  position: absolute;
  left: 28px;
  bottom: 28px;
  z-index: 2;
}
.our-project-block .list-project .row .col-12 .item .text .heading5 {
  position: relative;
}
.our-project-block .list-project .row .col-12 .item .text .heading5::before {
  position: absolute;
  content: "";
  background-color: #fff;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: all ease 0.4s;
}
.our-project-block .list-project .row .col-12 .item .text .heading5:hover::before {
  width: 100%;
}
.our-project-block .list-project .row .col-12 .item .arrow {
  position: absolute;
  right: -60px;
  bottom: 38px;
  transition: all ease 0.3s;
  z-index: 2;
}
.our-project-block .list-project .row .col-12 .item .arrow:hover {
  background-color: var(--blue);
}
.our-project-block .list-project .row .col-12 .item .arrow:hover i {
  color: var(--white);
}
.our-project-block .list-project .row .col-12 .item .arrow i {
  display: block;
}
.our-project-block .list-project .row .col-12 .item:hover .bg-img img {
  transform: scale(1.05);
}
.our-project-block .list-project .row .col-12 .item:hover .bg-img::before {
  height: 100%;
}
.our-project-block .list-project .row .col-12 .item:hover .arrow {
  right: 28px;
}
.our-project-block .list-project .row .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}
@media (max-width: 575.99px) {
  .our-project-block .list-project .row .slick-dots {
    margin-top: 24px;
  }
}
.our-project-block .list-project .row .slick-dots li {
  position: relative;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.our-project-block .list-project .row .slick-dots li button {
  display: none;
}
.our-project-block .list-project .row .slick-dots li::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--secondary);
}
.our-project-block .list-project .row .slick-dots li.slick-active {
  border: 1px solid var(--on-surface);
  background-color: #fff;
}
.our-project-block .list-project .row .slick-dots li.slick-active::after {
  background-color: var(--on-surface);
  border: 1px solid var(--on-surface);
}
@media (max-width: 1023.99px) {
  .our-project-block .list-project .row .col-12 .item .text {
    bottom: 40px;
  }
  .our-project-block .list-project .row .col-12 .item .arrow {
    bottom: 20px;
    right: 28px;
  }
}
@media (max-width: 767.99px) {
  .our-project-block .list-project .row .col-12 .item .text {
    left: 20px;
    bottom: 20px;
  }
  .our-project-block .list-project .row .col-12 .item .text .body3 {
    margin-top: 0 !important;
  }
  .our-project-block .list-project .row .col-12 .item .arrow {
    right: 18px;
    bottom: 20px;
  }
  .our-project-block .list-project .row .col-12 .item .arrow i {
    font-size: 18px;
    padding: 10px;
  }
  .our-project-block .list-project .row .col-12 .item:hover .arrow {
    right: 18px;
  }
}