/*
Responsive Top Nav: Start
*/
@media (max-width: 992px) {
  .top-nav .location {
    display: none;
  }
  .top-nav .mail {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .top-nav .h-44 {
    height: 36px;
  }
  .top-nav .h-60 {
    height: 40px;
  }
  .top-nav .right-block {
    gap: 0;
  }
  .top-nav .right-block .call-block,
  .top-nav .right-block .line,
  .top-nav .right-block .list-social {
    display: none;
  }
}
@media (max-width: 576px) {
  .top-nav.style-four .left-block img {
    width: 120px;
  }
  .top-nav.style-four .right-block .flex-item-center .caption2 {
    display: none;
  }
}
/*
Responsive Top Nav: End
*/