/*
*** Case Studies Page - Style 1: Start
*/
.case-studies-block.style-one .list-nav {
  flex-wrap: wrap;
}
.case-studies-block.style-one .list-nav .nav-item.active,
.case-studies-block.style-one .list-nav .nav-item:hover {
  background-color: var(--blue);
  border-radius: 100px;
  color: var(--white);
  transition: all linear 0.3s;
}
.case-studies-block.style-one .row {
  row-gap: 50px;
}
@media (max-width: 767.99px) {
  .case-studies-block.style-one .row {
    row-gap: 24px;
  }
}
.case-studies-block.style-one .row .item-main {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.case-studies-block.style-one .row .item-main .bg-img {
  position: relative;
}
.case-studies-block.style-one .row .item-main .bg-img img {
  transition: all linear 0.3s;
  cursor: pointer;
}
.case-studies-block.style-one .row .item-main .bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  opacity: 0;
  transition: all ease 0.3s;
}
.case-studies-block.style-one .row .item-main .infor {
  margin-top: -30px;
  width: 80%;
  z-index: 1;
  box-shadow: 0px 5px 25px rgba(58, 64, 67, 0.1);
}
.case-studies-block.style-one .row .item-main .infor .category {
  letter-spacing: 1.2px;
}
.case-studies-block.style-one .row .item-main .infor .heading6 {
  transition: 0.3s;
}
.case-studies-block.style-one .row .item-main:hover .bg-img img {
  transform: scale(1.06);
}
.case-studies-block.style-one .row .item-main:hover .bg-img::after {
  opacity: 0.4;
}
.case-studies-block.style-one .row .item-main:hover .infor .heading6 {
  text-decoration: underline;
}

/*
*** Case Studies Page - Style 1: End
*/
/*
*** Case Studies Page - Style 2: Start
*/
.case-studies-block.style-two .list-nav {
  flex-wrap: wrap;
}
.case-studies-block.style-two .list-nav .nav-item.active,
.case-studies-block.style-two .list-nav .nav-item:hover {
  background-color: var(--blue);
  border-radius: 100px;
  color: var(--white);
  transition: all linear 0.3s;
}
.case-studies-block.style-two .row .item-main {
  position: relative;
  cursor: pointer;
}
.case-studies-block.style-two .row .item-main .bg-img {
  position: relative;
}
.case-studies-block.style-two .row .item-main .bg-img img {
  transition: all linear 0.5s;
  cursor: pointer;
}
.case-studies-block.style-two .row .item-main .bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  opacity: 0;
  transition: all ease 0.3s;
  z-index: 0;
}
.case-studies-block.style-two .row .item-main .bg-img a {
  position: absolute;
  bottom: 20px;
  right: -120px;
  z-index: 1;
  transition: all ease 0.5s;
}
.case-studies-block.style-two .row .item-main .bg-img a:hover {
  background-color: var(--blue);
}
.case-studies-block.style-two .row .item-main .bg-img a:hover div,
.case-studies-block.style-two .row .item-main .bg-img a:hover i {
  color: var(--white);
}
.case-studies-block.style-two .row .item-main .infor .heading6 {
  transition: 0.3s;
}
.case-studies-block.style-two .row .item-main:hover .bg-img img {
  transform: scale(1.06);
}
.case-studies-block.style-two .row .item-main:hover .bg-img::after {
  opacity: 0.4;
}
.case-studies-block.style-two .row .item-main:hover .bg-img a {
  right: 20px;
}
.case-studies-block.style-two .row .item-main:hover .infor .heading6 {
  text-decoration: underline;
}

@media (max-width: 1023.99px) {
  .case-studies-block.style-one .row .item-main .bg-img a,
  .case-studies-block.style-two .row .item-main .bg-img a {
    right: 20px;
    padding: 21px 10px;
  }
}
/*
*** Case Studies Page - Style 2: End
*/
/*
*** Section Case Studies - Home3: Start
*/
.case-studies-block.style-two.style-three {
  width: 100%;
  overflow: hidden;
}
.case-studies-block.style-two.style-three .container .row {
  flex-wrap: nowrap;
}
.case-studies-block.style-two.style-three .container .row .slick-list {
  overflow: unset;
}
.case-studies-block.style-two.style-three .container .row .item-main .bg-img a:hover {
  background-color: var(--gradient);
}
@media (max-width: 1169.99px) {
  .case-studies-block.style-two.style-three .container .row .item-filter {
    width: 45%;
  }
}
@media (max-width: 991.99px) {
  .case-studies-block.style-two.style-three .container .heading {
    flex-direction: column;
    row-gap: 32px;
  }
}
@media (max-width: 767.99px) {
  .case-studies-block.style-two.style-three .container .heading {
    row-gap: 20px;
    padding-bottom: 24px;
  }
}
.case-studies-block.style-two.style-three .list-nav .nav-item.active,
.case-studies-block.style-two.style-three .list-nav .nav-item:hover {
  background-color: var(--gradient);
}

/*
*** Section Case Studies - Home3: End
*/