.list-social.flex-item-center.gap-10.style-one
    a(href="https://www.facebook.com/" target="_blank").item.bora-50.w-28.h-28.border-grey-2px.flex-center
        i.icon-facebook.fs-12
    a(href="https://www.linkedin.com/" target="_blank").item.bora-50.w-28.h-28.border-grey-2px.flex-center
        i.icon-in.fs-12
    a(href="https://www.twitter.com/" target="_blank").item.bora-50.w-28.h-28.border-grey-2px.flex-center
        i.icon-twitter.fs-10
    a(href="https://www.instagram.com/" target="_blank").item.bora-50.w-28.h-28.border-grey-2px.flex-center
        i.icon-insta.fs-10
    a(href="https://www.youtube.com/" target="_blank").item.bora-50.w-28.h-28.border-grey-2px.flex-center
        i.icon-youtube.fs-10