.our-team-block.pt-100.bg-white
    .container 
        .heading-block
            .heading3 Our Professional Team
        .list-member.mt-40.row.row-gap-32
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6
                .bg-img.w-100
                    img(src="assets/images/member/mem1.png", alt="").w-100.h-100.display-block
                    .list-social.bg-white
                        a(href="http://facebook.com" target="_blank") 
                            i.icon-facebook.fs-14
                        a(href="http://linkedin.com" target="_blank") 
                            i.icon-in.fs-14
                        a(href="http://twitter.com" target="_blank") 
                            i.icon-twitter.fs-12
                        a(href="http://instagram.com" target="_blank") 
                            i.icon-insta.fs-12
                .infor.text-center.pt-16
                    .name.heading6 Maria Takado
                    .caption1.text-secondary Senior UI-UX Designer 
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6
                .bg-img.w-100
                    img(src="assets/images/member/mem2.png", alt="").w-100.h-100.display-block
                    .list-social.bg-white
                        a(href="http://facebook.com" target="_blank") 
                            i.icon-facebook.fs-14
                        a(href="http://linkedin.com" target="_blank") 
                            i.icon-in.fs-14
                        a(href="http://twitter.com" target="_blank") 
                            i.icon-twitter.fs-12
                        a(href="http://instagram.com" target="_blank") 
                            i.icon-insta.fs-12
                .infor.text-center.pt-16
                    .name.heading6 Kim Naika 
                    .caption1.text-secondary CEO Technology Avitex
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6
                .bg-img.w-100
                    img(src="assets/images/member/mem3.png", alt="").w-100.h-100.display-block
                    .list-social.bg-white
                        a(href="http://facebook.com" target="_blank") 
                            i.icon-facebook.fs-14
                        a(href="http://linkedin.com" target="_blank") 
                            i.icon-in.fs-14
                        a(href="http://twitter.com" target="_blank") 
                            i.icon-twitter.fs-12
                        a(href="http://instagram.com" target="_blank") 
                            i.icon-insta.fs-12
                .infor.text-center.pt-16
                    .name.heading6 John Doe
                    .caption1.text-secondary Creative Director at Avitex 
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6
                .bg-img.w-100
                    img(src="assets/images/member/mem4.png", alt="").w-100.h-100.display-block
                    .list-social.bg-white
                        a(href="http://facebook.com" target="_blank") 
                            i.icon-facebook.fs-14
                        a(href="http://linkedin.com" target="_blank") 
                            i.icon-in.fs-14
                        a(href="http://twitter.com" target="_blank") 
                            i.icon-twitter.fs-12
                        a(href="http://instagram.com" target="_blank") 
                            i.icon-insta.fs-12
                .infor.text-center.pt-16
                    .name.heading6 Dave Nguyen
                    .caption1.text-secondary CEO Technology Avitex
            .col-12.col-xl-3.col-lg-3.col-md-6.col-sm-6
                .bg-img.w-100
                    img(src="assets/images/member/mem2.png", alt="").w-100.h-100.display-block
                    .list-social.bg-white
                        a(href="http://facebook.com" target="_blank") 
                            i.icon-facebook.fs-14
                        a(href="http://linkedin.com" target="_blank") 
                            i.icon-in.fs-14
                        a(href="http://twitter.com" target="_blank") 
                            i.icon-twitter.fs-12
                        a(href="http://instagram.com" target="_blank") 
                            i.icon-insta.fs-12
                .infor.text-center.pt-16
                    .name.heading6 Christina
                    .caption1.text-secondary CEO Technology Avitex
